[2019-07-04 15:46] cpoisson commented on #162
Ok, understood 😄

According to @fredszaq, custom_data is supposed to receive a string.

In this case, the message will be seen as badly formatted  by the dialogue service and some logs should be prompted by snips-dialogue logs (or `snips-watch -d` to see that also).

[2019-07-04 17:26] cpoisson commented on #161
@batje , Thanks a bunch, I could see that the instruction I provided were wrong 👍 , It s updated now.

[2019-07-04 19:09] Hermesfrank opened #163 "Cannot load JSON Respeaker file in led_animation_1.6.3"
I have been admonished once prior for using this issue reporting mode, but I have described this in the Forum and have had no response, so please bear with me as I have researched all the dos, Forum(s), have reinstalled, have total restarts from RPi install, and explored the files on git...

**What's the issue?**
A clear and concise description of what the bug is.
Also please provide an estimation

[2019-07-04 19:48] Hermesfrank opened #164 "App only runs fully when I run snips-skill-server in the RPi LXTerminal"
I have been admonished once prior for using this issue reporting mode, but I have described this in the Forum a few different ways/times, but have had no response, so, please bear with me as I have researched all the docs , Forum(s), have reinstalled, have done total redos from RPi install, muktiple RPi's and explored the files on git...

**What's the issue?**
Using RPi 3 B+ with Raspbian Stretch

[2019-07-05 09:12] cpoisson commented on #163
Hi,

Yes sure, I can make an exception this time ;)

Part of this skill is written in C and compiled when you [install it](https://github.com/snipsco/snips-skill-respeaker).

The file the binary  is looking for are the [hw description files](https://github.com/snipsco/snips-skill-respeaker/tree/master/hardware_specs) of the different flavours of piHAT

a little `grep` in the repo pointed me to thi

[2019-07-05 09:12] #163 closed, assigned to nobody

[2019-07-05 09:14] batje commented on #161
Things seem to work, but when I install an assistent, i see a lot of these:

[code]

[2019-07-05 10:12] cpoisson commented on #164
Hi @Hermesfrank

The thing is that the snips-skill-server run using the user `_snips-skills`

The better is to use this user to test your python script (sudo -u _snips-skills python your_script.py)

My guess is that `_snips-skills` user is not allowed to open your com port (`/dev/ttyUSBxxxx`) and your script crash accordingly.

It is not snips related check on google to verify that.

[2019-07-05 19:27] Hermesfrank commented on #163
@cpoisson  Thanks le pote!

I appreciate your insight - looks like both of my recent issues relate to permissions, so I will bone-up a bit there (not yet a Linux guy) and hopefully figure out a resolution...

I checked the _config.ini_ file and the "model=" is correct (2-mic hat)...I am fairly familiar with C and had already followed the path you cited to the _load_hw.c_ file, and so then looked a

[2019-07-05 20:22] Hermesfrank commented on #164
Hi @cpoisson

You were correct - I had to add the dialup group to the _snips-skill user - it contains the /dev/tty devices...

Nice...regards, Frank

[2019-07-05 22:45] Hermesfrank commented on #163
Hello @cpoisson

OK, so here's my latest on this issue...

I uninstalled the snips-skill-respeaker folder from the /var/lib/snips/skills directory and did a Sam-based re-install - no change, it still could not read the JSON file...

I uninstalled the folder again and did a manual install per the site you referenced using this:

Firstly, add your current user to the snips-skills-admin group:
    _s

[2019-07-06 11:50] Psychokiller1888 opened #165 "dsnoop/dmix for respeaker hardware"
Been trying, on respeaker device, that is respeaker 2, respeaker 4 and respeaker 6 mic array, all the asound possible. I have tried with their own optimized asound configuration that accomodates dsnoop and dmix but I cannot get snips to work with those configurations. I have tried and tried again to add dsnoop support, it's merely impossible as Snips always ends up with a "invalid input device" or

[2019-07-07 22:37] Hermesfrank commented on #163
@cpoisson  - Howdy!

OK, so I started from scratch and used a new RPi 3 A+ and a new image of Raspbian Stretch...

Installed the OS first, then the 2-mic-hat and both were working...

Then installed snips and allowed the snips install to also install the 2-mic-hat...when it finished, it appeared that the hat was working - the LEDs initialized and it was "breathing" at idle...

I then installed my

[2019-07-08 09:52] cpoisson commented on #165
Hi @Psychokiller1888 ,

I'm looking at it using seeed's default conf.

[code]

Seeed Drivers Version (git commit) : da5f90473b6fe30b4857c6704bd9af3f2e346599

Here's my snips-audio-server logs (using portaudio):

[code]

Lots of warnings, but it seems to run correctly.

To test dsnoop, I'm trying to record something else in parallel with a record.
Using the user pi I obtain a permission error:

[co

[2019-07-08 10:07] Psychokiller1888 commented on #165
I don't get it, I flashed raspbian yesterday evening, with nothing but snips runing on a respeaker 6 circular array, default asound.conf that supports dsnoop and dmix. I'll shoot you the logs as soon as I get back home

[2019-07-08 11:00] cpoisson commented on #165
Yup,

It would help!

Here's a finding I'd like to share

I fixed the permission problems by changing the permission settings of ipc keys after reading this [redhat issue](https://bugzilla.redhat.com/show_bug.cgi?id=174848)

[code]

[2019-07-08 14:33] #164 closed, assigned to nobody

[2019-07-08 14:36] cpoisson commented on #100
Closing this one for clean up.

[2019-07-08 14:36] #100 closed

[2019-07-08 14:39] Psychokiller1888 commented on #165
Ok, trying your asound I get an error, guess it's a rate error?

[code]

[2019-07-08 15:23] rootkea commented on #161
@cpoisson

Debian released Buster as latest [stable](https://www.debian.org/releases/buster/) yesterday.

[2019-07-08 22:20] ashwini-venkatesh opened #166 "Error while running sam"
This project is dedicated to bug reporting.

If you need support,
You are a maker? Please use the forum => https://forum.snips.ai/
You are a professional? Please contact our sales team => https://www.snips.ai/enterprise

---

**What's the issue?**
A clear and concise description of what the bug is.
Also please provide an estimation of its frequency (always, frequently, from time to time, rare)
Err

[2019-07-09 08:14] cpoisson commented on #165
@Psychokiller1888, Totally

Look like PortAudio tripped on the carpet trying to guess the missing parameters to configure the CODEC of the sound card.

I see two ways proceed:

- A. You want to keep portaudio, then you can try to add more parameters to the dsnoop slave

e.g.:
[code]

You may want to tinker the values according to the piHAT2 capability. An incorrect buffer configuration can make th

[2019-07-09 09:28] cpoisson commented on #165
I did some tests, for various sample size and channels (16k to 48k, 1 and 2 channels)

No issue found so far with the configuration on my side (the one patched with ipc_perm)

I'm using `hermes/audioServer/<site_id>/playBytes/<sound_id>` to test that.

e.g.
[code]

I know that those piHAT can be a bit of a pain to configure tough, keep me posted on your results!

[2019-07-09 09:55] cpoisson commented on #165
Ok,

 I have the same issue when the sampling rate is **exactly** equal to 22050 (disappears when using --alsa_playback default)

[2019-07-09 10:20] Psychokiller1888 commented on #165
What sampling? The audio file? SnipsSuperTTS get amazon polly and WaveNet get their audio file at 22050 so yes, they are 22050, where my boot sound is 16k and works sometimes. It wouldn't be a problem for me to change the audio sampling for amazon and wavenet, haven't spotted that.

`alsa_playback default` is that also the snips.toml config that does set it?

[2019-07-09 10:44] Psychokiller1888 commented on #165
Other thing is, whenever I try to implement something that runs on pyaudio, let's say this https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_streaming.py

It works nicely as standalone. But as soon as Snips is running, I get errors like

[code]
Or invalid channel numbers, or sample rate, whatever I try to change in my asound.conf

Which, to me, s

[2019-07-09 12:23] cpoisson commented on #165
More tests:

Using portaudio, it seems that  explicitly configuring the ring buffer seems to solve the problem.

[code]

[2019-07-09 12:54] cpoisson commented on #165
Hum,

- Pyaudio is also based on portaudio, so I think it could encounters the same issues as the audio-server (I did some tests few weeks ago)

on my side,

- dmix OK => I can play something on the audio-server + play something with arecord in parallel (at least dmix is working).
- dsnoop OK => I can have the audio-server running and record something in parallel with arecord.

I could test also w

[2019-07-09 13:02] cpoisson commented on #165
@Psychokiller1888  about `alsa_capture`

In snips.toml as an option of the audio server section e.g. `alsa_capture = "default"` or as an option int the command line interface.
e.g
[code]

[2019-07-09 13:19] cpoisson commented on #165
Moar tests using this google [mic transcription script](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/microphone/transcribe_streaming_mic.py)

Same warnings  (it uses pyaudio and thus portaudio), but it transcribes correctly what I'm saying (using the audio-server in parallel of course)

[code]

[2019-07-09 13:21] cpoisson commented on #165
Just in case here's  my full asound.conf (used on a rpi3 + piHAT2)

[code]

[2019-07-09 14:44] Psychokiller1888 commented on #165
Hum.... Things seem to be moving forward, mixing all your hard work for a solution. I get a few errors now, but it's more on my script side. Will keep you posted! Thanks for your efforts by the way! Next time in Paris I'll buy you a beer ;)

[2019-07-10 09:34] cpoisson commented on #166
I'm sorry but I cannot accept such an issue.

There is not enough information to be useful.

I'm closing it.

[2019-07-10 09:34] #166 closed, assigned to nobody

[2019-07-10 09:39] #111 closed

[2019-07-10 09:48] cpoisson commented on #148
Porting here the alsa configuration provided in #165

[code]

[2019-07-10 13:33] code-pig opened #167 "Installed SAM Accident, How to uninstall?"
**What's the issue?**
The issue is that the SAM does not have a command for uninstall, and I cannot find the folder where to remove it?

**Use Cases Impacted**
Easy removal, uninstall.

**How to reproduce**
Install on a machine

**Expected behavior**
A command to uninstall the SAM.

**Version and Environment**
Raspberry Pi, Home Assistant, Hassbian.

**Logs**
Add any other logs, stack traces, scre

[2019-07-10 13:38] Psychokiller1888 commented on #165
Well... It somehow works, but not always... I have to stop on this, I simply don't get the alsa conf, I hate it and I'm pretty sure when Alice is out someone will play with those devices knowing how to conf them and share it back. Your asound somehow works, but sometimes doesn't capture, or sometime sounds are not played, the hotword has really bad time capturing etc etc. Thank you for all your ef

[2019-07-10 13:39] cpoisson commented on #167
Hi code-pig,

Support is supposed to happen on the forum.

snips-sam can be uninstalled like other npm packages

[code]

(or without sudo depending on your install)

[2019-07-10 13:39] #167 closed, assigned to nobody

[2019-07-10 13:52] code-pig commented on #167
do apologise, thanks for your help great

[2019-07-10 15:03] cpoisson commented on #161
@batje

Yes, it is unrelated. Those are normal warnings issued by python tools to push python users to migrate for python 3.
As they return a code different than 0 in the command line, SAM display them as errors.

[2019-07-10 15:24] cpoisson commented on #165
I'm closing this one. I have added the info in the other ticket related to audio issues.

By the way, we also just found out that you can reduce the cpu consumption of the audio-server by almost 3 by forcing the sampling rate of the microphone at 16000 Hz. (otherwise it is done by the audio-server)

[2019-07-10 15:25] #165 closed, assigned to cpoisson

[2019-07-11 09:26] code-pig commented on #161
Hi,

Apologies I don't really understand thanks.

Does Snips work on Buster? Do the above comments fix the issue? Should I try and find an image of Stretch? Where can I find an image of stretch?

Thanks your help

[2019-07-11 11:38] cpoisson commented on #161
Hi @code-pig ,

Short answer, use [stretch](https://downloads.raspberrypi.org/raspbian/images/raspbian-2019-04-09/) to avoid dependencies issues.

I'll make a summary at the beginning of the ticket.

[2019-07-11 19:03] cornim opened #168 "[snips-nlu][en] Service crash after assistant deployment (directory permissions issues)"
**What's the issue?**
Deploying any of my assistants (not sure if other are affected as well) breaks directory permissions of the NLU component. Afterwards the NLU component is broken.

**Use Cases Impacted**
Assistant deployment.

**How to reproduce**
Run `sam install assistant -i proj_0VPW7pBGbxq`
Afterwards the following directories are missing the execute bit
[code]

**Expected behavior**
An a

[2019-07-11 22:34] Hermesfrank commented on #168
Same here...tried with two different snips devices and various apps...my guess is that they are working on updates to implement Buster, and they did - bust' er... :)

[2019-07-12 06:33] gnsepili opened #169 "Is snips-ASR is open source?"
I want to develop a chatbot for an enterprise. In which there is a functionality to asking by voice. the client has his won chatbot platform.
1) Just need to add the ASR functionality. Does snips-ASR can so that.
2)Is it (only ASR) an open source or not?

[2019-07-12 06:50] cpoisson commented on #168
@cornim ,

Thanks for your feedback, we are looking into it.

[2019-07-12 07:08] cpoisson commented on #168
I do confirm the issue:

[code]

Then a bunch of the assistant subfolders do not have the exec right set for all users.

[2019-07-12 07:25] cpoisson commented on #168
**Workaround**

to fix the issue, execute the following command on your device

[code]

(provided your assistant is installed in `/usr/share/snips/assistant`)

[2019-07-12 08:42] cpoisson commented on #169
If you are referring to [Snips Term Of Use](https://docs.snips.ai/additional-resources/legal-and-privacy/terms-of-use-highlights).

Snips is free to use for personal use, academic projects or building prototypes in a company.

For any **commercial** use, please contact our [sales team](https://snips.ai/enterprise/)

Have a good day!

[2019-07-12 08:42] #169 closed, assigned to nobody

[2019-07-12 10:41] cpoisson commented on #168
We fixed the issue.

Freshly deployed assistant should be ok.

[2019-07-12 10:41] #168 closed, assigned to gstraymond, cpoisson, adrienball

[2019-07-12 14:52] jnnkB opened #170 "not responding on mac"
I today installed snips on my mac. It recognizes my hotword and even sometimes aks if it doesn't understand me. When I use `snips-watch -vv`it shows me that it found an itent. But it doesn't reply even thought all apps I installed have actions (They have this litte branch symbol in the top left corner).

snips-watch also shows me this: ```[13:05:12] [Dialogue] session with id '4daadbe7-6a22-4f5d-b

[2019-07-12 14:59] jnnkB commented on #170
When i look into the log file of snips-skill-server (/usr/local/var/log/snips/snips-skill-server.log) I found the following:

[code]

[2019-07-12 16:20] cpoisson commented on #170
Hi @jnnkB,

This is a normal behavior. The mission of the platform is to open a dialog session and determine the correct intent given the speech input provided.

It is now on your side to have some code running to catch those intents and terminate or continue the opened session.

Otherwise the session will timeout.

The skill server is a convenience service dedicated to help you start easily some

[2019-07-12 16:21] #170 closed, assigned to nobody

[2019-07-12 16:32] cpoisson commented on #162
I'm closing this one.

[2019-07-12 16:32] #162 closed, assigned to cpoisson

[2019-07-12 16:49] cpoisson commented on #50
Actually you can already do that.

Using hermes-python subscribe to [session_ended](https://hermespython.readthedocs.io/en/latest/api.html#hermes_python.hermes.Hermes.subscribe_session_ended) you can then evaluate the termination type (`message.termination.termination_type`)

Here are the termination type code (a class I use in my code)

[code]

You can additionally use `subscribe_intent_not_recog

[2019-07-12 16:49] #50 closed

[2019-07-13 09:13] farfade commented on #148
My two cents, even if I don't understand them... I think it could get brighter people on the way to solve the real problem :

I performed an update from stretch to buster, then I tried to update my fully functional snips installation from 0.63.2 to 0.63.3. I'm using pulseaudio.

Snips-audio-server failed to start with the "InvalidSampleRate" error.
I added the

`[snips-audio-server]
alsa_capture =

[2019-07-15 08:42] cpoisson commented on #156
I reproduced it again on 18.04 yesterday.

Seems that the crash appears since release 1.2.1 (0.63.2).

We have a refactoring ongoing on this side to improve the multithreading mechanism used for model management in snips-asr.

[2019-07-15 12:49] cpoisson commented on #148
@farfade

Thanks for the tip, It is more pulse audio related but yes you need to set correctly the rights to do so.

[2019-07-15 13:02] cpoisson commented on #156
[code]

[2019-07-17 13:58] Psychokiller1888 opened #171 "[Platform][Dialogue] Cannot play a TTS or a sound longer than 15 seconds within a dialog session."
[code]

The above failed with the classic "Ended because one of the component didn't respond in a timely manner"... Yep, because it took more time to speak the long sentence than the session length was. As we still don't have neither a session resurection, which would allow to reopen it, nor a on the fly configuration setter to change the session lenght or anything to go around this, I think the s

[2019-07-18 10:02] cpoisson commented on #148
For the records,

Crawling on the the raspberry pi forum, it seems that since that last May kernel update, many users got also audio related troubles.

https://www.raspberrypi.org/forums/viewtopic.php?f=66&t=240819

[2019-07-18 12:58] cpoisson commented on #156
@zaripych ,

We are still investigating this one,

Meanwhile, I think I found a workaround.
There s a race condition at initialisation between the threads running the asr decoding.

The number of thread used is half the number of cpu cores available.

A solution (seems to work on my side) is to keep them as low as 2 maximum using `--thread_number 2` option of snips-asr. (`thread_number=2` in `/etc

[2019-07-19 09:37] erksch opened #172 "[Android] Make Android SDK open source"
Hey guys!

I started to use snips for android and ran into a lot of problems regarding the different quickstart and demo projects, and as I can tell from the snips forum, a lot of other people experience problems with running snips on android as well. Much detailed stuff about the android SDK is hidden in the forum.

I think it would be great to make the work on the Android SDK more transparent an

[2019-07-19 09:52] cpoisson commented on #171
Hi @Psychokiller1888

I try to rephrase a bit your feature request.

**What's missing? What's the issue**
The interaction is interrupted by the dialog manager when the TTS sentence duration is above 15 seconds, leaving no workaround to prevent this behavior.

**Solution envisioned**
Wait for the TTS sentence to be uttered by the platform before waiting for the user to answer. (Modulate component t

[2019-07-19 09:53] Psychokiller1888 commented on #171
I'm more than ok with that rephrasing

[2019-07-19 10:06] cpoisson commented on #171
👍 We already have an item for this one in the backlog.

Meanwhile,
 it's not a perfect workaround, but you can change the components timeout default duration (15 seconds) to another one that suit your need (like 50%  above the maximum duration of sentence you need)

[2019-07-19 10:16] Psychokiller1888 commented on #171
The problem with changing is that then the timeout is too long. That's why I've been whining for an on the fly configuration change...

[2019-07-19 10:18] erksch opened #173 "[Android] Intents time out"
Hey guys! Thanks for the great work on snips!

I am using the [snips android demo](https://github.com/snipsco/snips-platform-android-demo), not the quickstart, as suggested in [this github issue comment](https://github.com/snipsco-samples/quickstart-android/issues/1#issuecomment-512145222).

The android app correctly detects me saying the wakeword and captures text correctly.
However, the `intentD

[2019-07-19 11:42] fredszaq commented on #172
Hi @erksch

The android SDK is in fact open source, it is however not published on github, it is published on our nexus as a source jar that should be picked up automatically by android studio, you can also download the jar manually from [here][1] if you want.

We have an overhaul of the docs and sample codes around android that is planned as we know it is far from ideal at the moment. No promises

[2019-07-19 11:42] #172 closed, assigned to fredszaq

[2019-07-19 11:45] cpoisson commented on #173
Hi @erksch, Regarding the docs, thanks for your feedback, I'll check the quick fix that can be done.

Another remark regarding snippets,

We currently only offer python code snippets relying on MQTT and hermes-python, thus they are not supposed nor designed to run on android.

Regarding OSX, the reason is that `snips-template` needed to render the scripts from the snippets is not available on MacO

[2019-07-19 11:49] fredszaq commented on #173
Hi @erksch, could you provide logs from the `yourappId:snipsProcessingService` process on your device ? This would help a lot to understand the problem (make sure to `enableLogs` on the `SnipsPlatformClientBuilder`)

[2019-07-19 12:05] erksch commented on #173
Ah yes sorry! Here is a complete log from the processing service while detecting some text that should match one of my intents.

[code]

The only thing that sounds odd to me is this part.
[code]

[2019-07-19 12:15] fredszaq commented on #173
Ok so for some reason the NLU component is not responding (the log you pointed out has not relation to that)

WOuld be interesting to see the logs during the start of the service, we should have something there indicating why it has stopped

[2019-07-19 14:07] erksch commented on #173
Alright! I think I found the error in the logs on start:

[code]

How can I change the model version? Is it enough to just change it in the configuration file or is there an option for it in the platform console?

[2019-07-19 14:13] mryshakow commented on #156
I can reproduce a similiar issue by using injection. Using the this addon [snips-openhab](https://github.com/Alpha200/snips-openhab) will cause the following log every time on start up.

System: Docker, based on debian:stretch-slim
Host: Ubuntu 19.04

Snips Installed Packages:
- snips-analytics/unknown,now 0.63.2 amd64 [installed]
- snips-asr/unknown,now 0.63.2 amd64 [installed,automatic]
- snips-

[2019-07-19 14:16] erksch commented on #173
Okay after upgrading to `0.63.3` it works fine! I guess the version that is used in the demo project repo I cloned (`0.60.5`) is not compatible with the newer model versions.

Thanks for your time and support everyone!

[2019-07-19 14:18] fredszaq commented on #173
Yup that's definitively it. Make sure use use the latest android version (0.63.3) and get a fresh assistant by retraining/downloading it on the console. I'm gonna update the version in the demo app

[2019-07-19 14:19] #173 closed, assigned to fredszaq

[2019-07-23 14:13] LLUWE19 commented on #44
I think this might be similar problem? Every time I sam install assistant it clears the section of the configuration.yaml for intent_scripts. It creates a backup each time but how do I access it? At the moment I have to save the configuration.yaml somewhere else, then copy and paste after the install is done. Is there a way to avoid this? Or a better practice for doing it.

Thanks

[2019-07-29 13:44] flatsiedatsie commented on #161
@code-pig I have version 0.63.2 working just fine on a Raspbperry Pi 4 with Buster.

[2019-07-29 14:44] code-pig commented on #161
I used stretch in the end, which was probably for the best as it forced me to learn a few things. Also im on the pi 3 so not sure if that makes any difference? Thanks for your help everybody

[2019-07-30 18:39] RaspiManu commented on #161
@cpoisson Does workaround 2 in the first post still show the actual status with 3 open issues or is there something new?

[2019-08-01 07:52] techkidprabu commented on #152
Hi HakanL,
Am using ur config file, able to hear in speakers. But microphone is not recording. Please help me

[2019-08-01 08:04] techkidprabu opened #174 "Respeaker 6 mic array microphone not working"
**What's the issue?**
Am using Respeaker 6 mic array in Raspberry pi 3B+. I installed mic drivers it was working fine both recording and playback before installing SAM. But after installing SAM, microphone is not working not recording

**Use Cases Impacted**
sam test microphone

**How to reproduce**
Use Respeaker 6-Mic array

**Expected behavior**
Mic should be available for recording

**Version a

[2019-08-01 08:23] HakanL commented on #152
Hard to say what's causing that, but as someone pointed out, it may be better for you to post this on the forums instead.

[2019-08-01 08:51] ghost opened #175 "[Platform] I have an error on my Satellite after hot word detected."
Hello,

**What's the issue?**
I have an error on my satellite after that the hotword detected. Sometimes after several reboots or restart snips services, the satellite works correctly. So I think that my configurations are right.

**Use Cases Impacted**
My satellite doesn't work most of the time.

**Version and Environment**
I have a Raspberry Pi 3 with the snips base and I have another Raspberry

[2019-08-01 09:06] cpoisson commented on #175
Hi @juliendev20,

Feels like a configuration issue.

- Did you follow the satellite configuration [documentation](https://docs.snips.ai/articles/platform/satellites) ?

Your sam status shows that `snips-audio-server` and `snips-hotword` are running on your satellite. They are not supposed to be here if you only use `snips-satellite`

- Sam is not supposed to be installed on the pi, but on your [de

[2019-08-01 09:16] cpoisson commented on #175
@juliendev20 , I have never tested the asr partial feature with a satellite configuration 🤔

Just in case, try do deactivate it if the satellite configuration procedure does not solve your problem.

otherwise, your `snips.toml` configuration looks good to me.

Also, on your satellite can you:

uninstall the audio-server and snips-hotword

[code]

install snips-satellite and hey snips hotword model

[2019-08-01 09:27] cpoisson commented on #174
Hi @techkidprabu

This is not a bug but a support ticket :)
You better check on the forum for help with the [community](https://forum.snips.ai/).

Where did you installed sam exactly? You are suppose to install it on your desktop computer, not your pi.

Did you test arecord and aplay on your pi?

Also, check this issue, I have already provided workaround of audio issues => #148

We also have a tro

[2019-08-01 09:27] #174 closed, assigned to cpoisson

[2019-08-01 09:29] ghost commented on #175
Thank you for your reply. I followed another site for the satellite configuration. It's my mistake sorry. I should have to follow the official documentation. It's work well now and I confirm that the partial feature works well with a satellite.

Thank you so much.

[2019-08-01 09:29] #175 closed, assigned to cpoisson

[2019-08-01 09:29] cpoisson commented on #175
👍 Can you give me the link to this documentation? I'll try to contact the author

[2019-08-01 09:32] cpoisson commented on #175
Ok, I think it is this one :) https://www.coxprod.org/domotique/installation-de-satellites-snips/

[2019-08-01 09:58] ghost commented on #175
Yes It's https://www.coxprod.org/domotique/installation-de-satellites-snips/ :+1:

[2019-08-01 12:03] sudheerthalla commented on #161
Waiting for this update. When can we expect full support for raspbian buster?

[2019-08-01 15:13] Psychokiller1888 opened #176 "hermes/dialogueManager/startSession"
**Is your feature request related to a problem? Please describe.**
We use startSession notification to have our assistants randonly speak throughout the day. We don't have the canBeEnqueued boolean on it and I would need it to avoid speaking to my assistant and having it speak the random text right after as it was meanwhile enqueued

**Describe the solution you'd like**
Add support for "canBeEnque

[2019-08-05 07:11] flatsiedatsie opened #177 "Feature request: wild card support"
**Is your feature request related to a problem? Please describe.**
I've been enjoying using Snips a lot. I enjoy it that snips delivers the sentence chunks I need right to my code.

All the chunks, except one.
I have a simple reminder intent. People can say:
- "Set a reminder to [clean the car] at 9 o'clock"
- "Create a reminder to [take out the trash] in 10 minutes"
- "Remind me to [make a dentis

[2019-08-05 07:28] flatsiedatsie opened #178 "Feature request: disable telemetry in the console UI"
**Is your feature request related to a problem? Please describe.**
When you download a new assistant, by default it comes with telemetry enabled in assistant.json:
- analyticsEnabled : true
- heartbeatEnabled: true

Currently I change those to `false` manually. I've also written some code that will disable this every time a user downloads a new assistant via the add-on.

However, for an organizati

[2019-08-05 07:41] flatsiedatsie opened #179 "Feature request: console - only show apps without actions"
**Is your feature request related to a problem? Please describe.**
User store:
As a user I would like to find intents that other people have created so that my code can respond to these intents.

Currently, there is a filter in the console that allows me to search for apps that also have actions.

However, I am looking for the opposite. I would like to find and use apps that have no actions, so th

[2019-08-05 07:46] flatsiedatsie commented on #177
Small update: there probably could need to be some settings for the wildcard option. For example, I'd love to be able to say that a wildcard component is mandatory or not, and have Snips automatically ask a user for it if they haven't initially supplied it. E.g.

"Hey Snips, set a [reminder] for [5 o'clock]"
-> "What would you like to be reminded about?"
"Do the dishes"

or

"Hey Snips, [send a me

[2019-08-05 08:03] flatsiedatsie opened #180 "Console crashes when pasting in a training example"
**What's the issue?**
Copy an intent example message you made earlier, and copy it into the input field above.

**Use Cases Impacted**
It hinders the quick re-use or making slight modifications to earlier example sentences. Currently, the safest way to generate new example sentences is to type them in manually.

**How to reproduce**
- Edit an intent
- Select a line from the examples you have alrea

[2019-08-05 08:33] pocketjoso commented on #180
Hi,
Thanks for this bug report. We have seen this error before, but we have never been able to reproduce it in order to fix it. I'm following your instructions here, on Latest Firefox on macOS Mojave, and for me pasting works without any crash.

I think this has to do with the specifics of your intent, and the training example you are pasting. Could you share a screen recording of the problem happ

[2019-08-05 08:38] flatsiedatsie opened #181 "Feature request: heuristic intent support"
**Is your feature request related to a problem? Please describe.**
Currently Snips is built to handle a certain type of complex intent: an intent where a sentence has at least one slot that should be extracted. Snips does this very well.

However, in practice (and you can see this in the app store), there is also a need to create simpler intents.

Take for example the intention of a user to ask fo

[2019-08-05 08:43] pocketjoso commented on #179
These things are possible to do today in the console, perhaps we need to make it more evident how.

After adding a someone else's public app to your assistant, when you click to `Edit` it it offers to fork the app, creating your own copy:

(I suspect you already did this, just repeating to be sure we're on the same page)
![Capture d’écran 2019-08-05 à 10 39 58](https://user-images.githubusercont

[2019-08-05 08:44] flatsiedatsie commented on #180
Sure, here is a screen recording with the console open:
![snips_console_error](https://user-images.githubusercontent.com/805405/62451135-3032fc00-b75d-11e9-9eae-40ed24d0a8d8.gif)

// Update
- It happens with any sentence in that intent
- It happens with other intents. I tried a 'command' style intent ("What time is it") which has not slots. It still happens, so it's probably not an issue of slots

[2019-08-05 08:50] fredszaq commented on #178
Hi @flatsiedatsie

These two fields are indeed still shipped in the assistant, they are however not used anymore in the platform.

- `analyticsEnabled` was used to control the `snips-analytics` binary. It is now disabled by default (exits on launch) and cannot be enabled (we still ship it to be sure older installs ends up with disabled analytics)
- `heartbeatEnabled`  was used by all the component

[2019-08-05 08:52] pocketjoso commented on #179
What I described in my previous comments allows you to re-use other peoples apps without their action part. For importing individual intents from public apps into your own apps, however, you have to go through a specific workflow:

After you fork a public app, the new forked app is yours. That's why you can edit the action type, add new intents etc. However the intents inside are still the ones cr

[2019-08-05 08:59] pocketjoso commented on #180
Thanks for the further details.

Can you tell me exactly how you issue the copy and paste commands? Are you using keyboard shortcuts?

We have a feature that would allow me to see your account and specifically this intent as you see it in the console, which I could use to gather more information about this bug - specifically to see if I can reproduce it. Would you be okay with me doing this - goin

[2019-08-05 09:00] flatsiedatsie commented on #179
Ah, so that's it! I was wondering where that was! Thank you. I agree it's a little bit hidden.

Perhaps my user story is:

`"I'd like to go shopping for intents from other apps that I may fork without having to install apps first."`

This issue may be closed.

If you want I could create a new feature request for that user story.

[2019-08-05 09:01] pocketjoso commented on #179
Glad to help, and thanks for the feedback about this being a bit hidden.

Please do, it helps us prioritize our work. 👍

[2019-08-05 09:01] #179 closed, assigned to nobody

[2019-08-05 09:01] flatsiedatsie commented on #180
Yes I am using keyboard shortcuts.

Go ahead and try working with the account. I take it you have your ways of finding out which one it is.

Thank you for asking.

[2019-08-05 09:03] flatsiedatsie commented on #178
That would be great. I coded a feature for my project to handle this situation, which I'm glad to hear is no longer an issue. Kudos!

Sound like a plan!

[2019-08-05 09:03] #178 closed, assigned to nobody

[2019-08-05 09:20] pocketjoso commented on #180
Actually I need something from your account to be able to find it:
your username, _or_ email

[2019-08-05 09:23] maxbachmann commented on #146
@cpoisson
From what it seems like the console uses the same yaml syntax documented for the snips nlu, that is converted to json using the snips nlu and then used for the training.
Currently there is already an api for sam to download assistants from the webconsole using the name of the assistant. It would be pretty cool to have the possibility to to this with the json generated by snips nlu aswell

[2019-08-05 09:26] flatsiedatsie opened #182 "Feature request - Hermes-python - return the original sentence snippet with the slot"
**Is your feature request related to a problem? Please describe.**
I am happily using extracted slots. But in some cases it can be useful to have the snippet from the original sentence that the slot was based on.

For example, if a user asks a timer to be set for `tomorrow morning at 9 am`, the `time` slots data that arrives in python is the date as a standardized datetime string. E.g. `06-03-2019

[2019-08-05 09:27] flatsiedatsie commented on #180
Can I email that to you?

[2019-08-05 09:32] pocketjoso commented on #180
Sure. You can send it to jonas.ohlsson @ snips.ai 👍

FYI: your username is public, but your account email is not. And your username is only visible to others if you publish apps into the store.

[2019-08-05 09:55] flatsiedatsie opened #183 "Feature request: make it easier to shop for intents"
**Is your feature request related to a problem? Please describe.**
Instead of training Snips myself, I'd like to 'shop' for intents that other people have created before.

Currently, it can be quite difficult to
1. Find out how other people's intents may be forked. I didn't find out how until I [created a issue here](https://github.com/snipsco/snips-issues/issues/179#issuecomment-518143152).
2. Ga

[2019-08-05 13:44] flatsiedatsie opened #184 "Documentation for the built in slots"
**Is your feature request related to a problem? Please describe.**
I was happy to see that the built in `time` slot understood "midnight" and "noon".
I was happily surprised to see that it even understood `lunch time` as a time. Very cool.

My issue is that in the documentation I can't find a list of what is supported and what isn't. I'd love to have known beforehand that 'lunch time' was supporte

[2019-08-05 15:05] davidleroy commented on #184
Thanks a lot for your interest in Snips @flatsiedatsie !

Actually the built-in entities are documented [here](https://docs.snips.ai/articles/platform/dialog/slot-types#built-in-slot-type) and more specifically, here is the link for [ datetime](https://docs.snips.ai/articles/platform/dialog/slot-types#time-related-entities) entities.

The reason why we're not providing the exact list of all covere

[2019-08-05 15:26] davidleroy commented on #182
Actually you can access the `raw_value` of the slot using the same syntax as the one used in the [documentation](https://hermespython.readthedocs.io/en/latest/tutorial.html#extracting-slots) e.g `intent_msg.slots.slot1.first().raw_value`

The [API reference](https://hermespython.readthedocs.io/en/latest/api.html#hermes_python.ontology.dialogue.slot.NluSlot) lists all fields accessible at the slot

[2019-08-05 15:41] davidleroy commented on #181
Actually `command` intents are already supported:
- We do have a specific parser to deal with them called the deterministic intent parser that will yield perfect NLU accuracy on utterances that are part of your train set. So as long as user stick to utterances you provided, the probabilistic parser won't be used. You can read more about this in [this blog post](https://medium.com/snips-ai/an-intro

[2019-08-05 15:42] flatsiedatsie commented on #182
Ah, I was hoping I had overlooked it. Thanks!

[2019-08-05 15:42] #182 closed, assigned to nobody

[2019-08-05 15:46] flatsiedatsie commented on #184
Thanks! I suspect I missed it because was looking under NLU instead of Dialogue.

[2019-08-05 15:46] #184 closed, assigned to nobody

[2019-08-05 15:48] davidleroy commented on #177
@flatsiedatsie
Thanks for reporting this. Support for large vocabulary "free-text" slots such as reminder is actually on our roadmap (covered both at the  ASR and NLU level), and expected by the end of this year.

I guess you're using a cloud-based large vocabulary ASR in your case ? Note that when using the Snips customized ASR, the only vocabulary that will be recognized is the one provided in t

[2019-08-05 15:48] flatsiedatsie commented on #181
You're right, that makes sense. Glad to hear it!

[2019-08-05 15:48] #181 closed, assigned to nobody

[2019-08-06 05:41] psiniemi opened #185 "To install an assistant, sam runs `bash -c 'sh setup.sh'` - which breaks venv"
---
**What's the issue?**

Venv activation requires to be run in bash to work, but sam runs `bash -c 'sh setup.py'` and sh is a symlink to dash on a lot of systems (ubuntu and newer raspbians at least) and that breaks venv activation.

**Use Cases Impacted**

Assistant install and update

**How to reproduce**

Run `sam install assistant` to a system with dash as sh

**Expected behavior**

Should i

[2019-08-06 05:48] psiniemi opened #186 "pip fails to install requirements because it tries to use the `.cache` owned by login user instead of the one owned by _snips-skills"
**What's the issue?**

Pip is run with simply `sudo -u _snips-skill` and the `-H` argument that would set the correct home is omitted and thus pip tries to use the login user's (`pi`) pip cache.

**Use Cases Impacted**

sam install assistant

**How to reproduce**

sam install assistant

**Expected behavior**

Requirements should be installed into the venv

**Version and Environment**

0.63.3 / Lub

[2019-08-06 07:19] flatsiedatsie commented on #177
@davidleroy Glad to hear it!

I'm using the "500Mb" dictionary that Snips provided? Am I correct in understanding that:
- This allows for many more everyday words to be recognised
- To my happy surprise it doesn't seem like it overrides the custom_asr that is already in my assistant. It seems to complement it?

If it's on the roadmap, should I close this issue?

[2019-08-06 08:31] davidleroy commented on #177
When using large voc asr, your custom asr is actually not used at all. FYI, large voc ASR is currently being [deprecated ](https://docs.snips.ai/articles/platform/asr/using-3rd-party-and-generic-asr#using-snips-generic-asr-model-english-only) as it isn't compatible with some APIs such as injection and we haven't provided model updates in quite some time. It will be replaced by "free text" entities

[2019-08-06 08:31] #177 closed, assigned to nobody

[2019-08-06 21:40] Psychokiller1888 commented on #146
Training is done on Snips servers, and there's an api endpoint to trigger the training

[2019-08-06 21:42] Psychokiller1888 commented on #65
This is no longer of use for me, we have worked around it

[2019-08-06 21:42] #65 closed

[2019-08-06 21:43] Psychokiller1888 commented on #34
I have seen since a while something like "revived_from" in the mqtt payloads, lower level... Does this mean you've been on it @fredszaq ?

[2019-08-06 21:45] Psychokiller1888 commented on #37
Actually I'd love something even better, a button to delete all apps, another for all intents, and a third for all slots. Why? I'm not leaving :) But I have something like 600 intents, 2k slots because of all my testing, and my mouse bot is limited to 9 repeats as it's a free version, so I'm thinking about using another email adress now instead of cleaning....

[2019-08-06 21:51] fredszaq commented on #34
The field has been there from the beginning ^^ didn't find time to work on
it just yet

Le mar. 6 août 2019 à 23:43, Psycho <notifications@github.com> a écrit :

[2019-08-06 21:52] Psychokiller1888 commented on #34
Woot? Never saw it actually... I was getting my hopes up :-)

[2019-08-07 00:43] flatsiedatsie commented on #182
@davidleroy I really can't get that to work. When I go a `dir`, `vars` or `str` of the `first()` on a `duration` slot the value simply isn't there? It's just a normal datetime-like object?

[code]

The [documentation](https://hermespython.readthedocs.io/en/latest/api.html#hermes_python.ontology.dialogue.slot.NluSlot) does seem to mention a `raw value` in `hermes_python.ontology.dialogue.slot.NluSl

[2019-08-07 07:53] pocketjoso commented on #37
I hear you. Are most of these resources part of public apps, or not? As you know, we don't currently allow for deletion of resources that have been published to the store. Just checking whether a batch delete would actually help for you, or if it would be the case that most things could not be deleted (which is a different problem we are aware of).

This request is a bit different from what this i

[2019-08-07 11:53] Psychokiller1888 commented on #37
Ok, opening another ticket. To quickly answer, no, they aren't published resources

[2019-08-07 11:53] #37 closed

[2019-08-07 11:57] Psychokiller1888 opened #187 "[Console] Resources batch deletion"
**Is your feature request related to a problem? Please describe.**
I have about 800 intents on my console, 40 assistants, 1k+ slots and dunno how many skills. All that because of the userless app creation we created and tested endlessly. I've run out of mouse left clicks trying to delete all that and I'm just thinking about making a new account

**What are the use cases of this feature**
Adding a

[2019-08-07 12:07] pocketjoso commented on #187
I'm still a bit curious about the details of this. Is it really ~ delete all (within a resource group)? Won't there be some resources that you will want to keep? Is "delete all" sufficient, or do you need to be able to exclude some items from the batch deletion job?

[2019-08-07 12:11] Psychokiller1888 commented on #187
Well, if you're motivated you can add a select all button, have some check box on all resources spawn and let us unselect those that we want to keep. I don't need it to be honest at the moment, as I need to just empty an account, without spending 2 days to programatically do it :)

[2019-08-07 12:16] pocketjoso commented on #187
I just think it's a bit of an extreme case otherwise. If you really want to delete all creating a new account seems like the easiest solution.

[2019-08-07 12:56] cpoisson commented on #156
👍 The next release will fix this crash.

[2019-08-07 14:08] pocketjoso commented on #180
As discussed via email:

In Firefox, the [dom.event.clipboardevents.enabled setting](https://developer.mozilla.org/en-US/docs/Mozilla/Preferences/Preference_reference/dom.event.clipboardevents.enabled) must be turned on, otherwise the intent editor training example components will crash on copy-paste.

Discovered via: https://github.com/wagtail/wagtail/issues/4346

----

There's nothing we can do

[2019-08-07 14:08] #180 closed, assigned to pocketjoso, fpcode

[2019-08-07 16:45] maxbachmann commented on #146
@Psychokiller1888
There is an api endpoint to train stuff thats not in the console? From what I know it is only possible to train assistants that are in the console, or did I miss something?
It would just make sence to have a api endpoint to either train the assistant from a json string you can pass along (which is whats internally used anyways) or to upload a assistants config (intents ...) to th

[2019-08-09 10:44] flatsiedatsie commented on #125
I was just about to open an issue: `duration slot does not support "in an hour and a half"?` when I noticed this one.

[code]

[2019-08-10 10:48] flatsiedatsie commented on #182
@davidleroy I'm trying to get the raw value from a "from-to" time. I've tried everything, but I can't get at the raw value. Could you help in determining the correct path?

[code]

[2019-08-11 17:44] RaspiManu commented on #161
@cpoisson I am planning a long time project with snips.ai, so I would like to not downgrade to Stretch and wait for full Buster support instead. Would be nice to get a short status update. Thank you in advance.

[2019-08-11 18:05] jmwilson commented on #161
The version numbering for Snips' copy of `libatlas3-base` is problematic here, which explains why the workaround needs the explicit instruction `sudo apt install libatlas3-base=3.10.3-8+rpi1`.

Buster's version number is `3.10.3-8+rpi1` which is parsed as package version `3.10.3` and Debian revision `8+rpi1`. Snips' version is `3.10.3-1-snips`. By the Debian policy manual (https://www.debian.org/d

[2019-08-11 23:17] Loky31 opened #188 "Hass does not install correctly"
Hello,

While using Sam commands the installation of hass does not work properly.
Hass keeps restarting and never ending in a up and running situation.
I'm using a raspbian stretch up to date, on a Rasp 3B+.

After some manual tests it appears that a python version should somehow be the rootcause...
Any way to fix it?

[2019-08-14 15:04] cpoisson commented on #161
@RaspiManu
Yes the status is up to date, expect things to move slowly as most of us are on holidays this month.
The item is in our backlog (it needs to be done).
We have more urgent items to tackle for september. I hope october would allow us to address this issue.

@jmwilson Thanks for the info, we dived into those docs lately to ease internal beta releases. We know that the versioning of this pa

[2019-08-14 15:19] cpoisson commented on #188
Hi Loky31,

I'm not sure this issue repository is the best place for your problem 🤔

Did you check or ask your question on the forum?

A quick remark, you should use the template to fill issue in this repository. No logs, environment information or commands to reproduce the issue makes support or issue resolution impossible.

[2019-08-15 17:42] allanroberts opened #189 "Nothing works as documented"
a
#

[2019-08-15 17:48] allanroberts commented on #189
One other thing that is strange.  After a boot, the wpa_supplicant.conf file disappears, and I need to create a new one.  That doesn't seem right...

[2019-08-15 20:01] RaspiManu commented on #161
@cpoisson
Thank you very much for the reply. I will wait and check for updates here. Have a nice Holiday.

[2019-08-15 20:56] cpoisson commented on #189
Hi @allanroberts ,

This is more a raspberry pi related issue than a snips services one.

Did you tried to:
- Use `US` instead of `us`? (upper case instead of lower case)
- Configure your wifi using `sudo raspi-config`? (option 2 then N2 Wi-Fi)

[2019-08-18 02:44] #189 closed, assigned to cpoisson

[2019-08-18 11:23] wilmardo commented on #161
Instead of installing the packages with dpkg you could add the Debian repository:

[code]

Source: https://bugs.launchpad.net/raspbian/+bug/1835974

I am working on an Ansible role to install Snips on Buster. I cannot boot Stretch since I own a Raspi4. There are no docs at the moment but someone might find it useful :)
https://github.com/wilmardo/ansible-role-snips

[2019-08-18 12:35] #188 closed, assigned to cpoisson

[2019-08-18 17:21] momo42 commented on #161
I also own a raspberry pi 4 and would like to use it with snips. In fact I only bought it for that purpose before I saw the buster issue. I understand that holidays are important (for everyone of us ;-) ) so please don't feel rushed. But I'd be very happy to see any progress here. This seems to be stuck for two months now. Considering that the Pi 4 might  be the best selling single-board computer

[2019-08-22 07:08] Kallappambk opened #190 "No speech recognization on ubuntu 18.04, no Audio server is runnig also no tts sound from system"
Hi
I am using snips on ubuntu 18.04 and installed all packages and platform also built but am not getting speech recognization in system by snips pls help me regarding this i am new new to this

thanks in advance

[2019-08-24 11:21] flatsiedatsie commented on #161
@momo42 If you don't want to wait, you could try this:
https://forum.snips.ai/t/voco-a-fool-proof-way-of-running-snips/3484

[2019-08-26 08:05] anthonyray commented on #182
Hi @flatsiedatsie ,

You can obtain the raw value of your "from-to" time slot with the following method :
[code]
Don't hesitate to check out the tutorial for [accessing slots](https://hermespython.readthedocs.io/en/latest/tutorial.html#extracting-slots) in the documentation.

[2019-08-26 23:09] michnovka commented on #161
Raspi4 owner here. Can somebody else on raspi4 buster confirm all works well with workaround2? Thanks

[2019-08-28 08:39] cpoisson commented on #190
Hi @Kallappambk,

I think you should go through the forum first to get support from the community. This repository is dedicated to bugs and features suggestion.

Thanks for using Snips

[2019-08-28 08:39] #190 closed, assigned to nobody

[2019-09-10 15:18] anthonyray commented on #138
Hello @jmichaluk !

Things have changed since you've last tried : please consider testing things again with an updated version of the `snips-platform` for Android.

In fact, here is an excerpt of relevant logs when you start the platform, with a hotword sensitivity of `0.5` :
[code]

To answer one of your question, having a sensitivity of 0 doesn't entail that the wake word will not trigger. It me

[2019-09-10 20:12] Blackir62 opened #191 "failed in 'src/hostapi/alsa/pa_linux_alsa.c', line: 923"
Hello I have a problem with my install of snips, the command sam test speaker works but as soon as I launch a voice command, nothing works. If I go through a USB speaker or the HMDI port everything works ok.
I have an InvalideSampleRate error but this [topic](https://forum.snips.ai/t/no-audio-from-snips-sam-test-speakers-works/2716/7) didn't help me.

Which platform you are using ? **Raspbian Stre

[2019-09-11 09:30] cpoisson commented on #138
Closing this one

[2019-09-11 09:37] cpoisson commented on #191
Hi @Blackir62,

It seems you are using portaudio, there is a [known issue](https://github.com/snipsco/snips-issues/issues/148) when playing sound sampled at 22050Hz when the playback device is configured at 16000 Hz.

Check the workarounds and explanation provided in the issue #148

We also have a [dedicated audio troubleshooting section](https://docs.snips.ai/additional-resources/troubleshooting/

[2019-09-11 09:40] #191 closed, assigned to cpoisson

[2019-09-11 13:04] deniseBrise opened #192 "[Injection] Injection fail when JSON contains an empty value"
**What's the issue?**
Snips injection fails when JSON message is correct but contains an empty value, or a value with space(s). Injection will work first time, and fail afterwards.

**Use Cases Impacted**
Injection of unverified data.

**How to reproduce**
`mosquitto_pub -h localhost -p 1883 -t hermes/injection/perform -m "{\"operations\":[[\"addFromVanilla\",{\"firstname\":[\"  \"]}]]}"` => will

[2019-09-11 13:06] deniseBrise opened #193 "[Injection] Let application to be aware of injection end/success/fail"
**Is your feature request related to a problem? Please describe.**
My request is related to problem : _Injection fail when JSON contains empty value_ #192
It would be intersting to know when an injection is in progress (or finished). Currently we can rely on message "hermes/asr/reload" or "hermes/nlu/reload" when injection is successful, but nothing happen on fail.

**What are the use cases of thi

[2019-09-11 14:51] cpoisson commented on #90
Hello guys,

I need a bit of help here,

I'm currently testing `snips-asr-google` (again) comparing the execution of the current version in production (`1.2.2 (0.63.3)`) against an internal beta version.

The thing is, I cannot reproduce the bug anymore 🤔, The problem usually occurs after 20 tries, but here after more than 100 tries, I don't see the component becoming totally unreliable.

There is

[2019-09-11 14:53] Psychokiller1888 commented on #90
For me it wasn't after 20 tries, but almost instantly, after the first or second. I cannot test unfortunately for the moment, we have built our own Google ASR. Will flash an SD a bit later and try the snips component

[2019-09-11 15:08] cpoisson commented on #90
You built your Google asr module 👍

(I saw recently the comments above)

About the backlog priorities, I think there is a misunderstanding, I m not the one in charge deciding that by myself 😅.

But yeah, this half broken situation is clearly not something I'm comfortable with :/, we should deprecate this feature properly.

[2019-09-12 16:01] cpoisson commented on #192
@deniseBrise

Nice catch, we could reproduce easily this one thanks to your precise description.
We are investigating the root cause.

Thanks again for your feedback!

[2019-09-12 16:11] cpoisson commented on #193
Hi @deniseBrise,

Injection complete will be available in the next release.
Failure info is planned for the one after.

You'll be updated on this ticket when those feature are available.

Thanks again for your feedbacks

[2019-09-12 21:11] gitmirko opened #194 "[Platform][Audio-Server] no sound through usb sound card (alsa)"
**What's the issue?**
I'm not able to get sound from audio-server through the usb sound card. Alsa is configured properly, because I always get sound testing the speaker with this command:
[code]
**How to reproduce**
In my case starting snips-audio-server with the following arguments will always give me the same problem:
[code]
**Expected behavior**
There should be sound from the snips assistant p

[2019-09-13 07:31] cpoisson commented on #194
Hi @gitmirko ,

Can you copy past the content of `/etc/asound.conf` and `aplay -l`?
I also need the full logs of `snips-audio-server` and `snips-watch -vvv` when the issue occurs.

You can also check the workaround provided in #148 and the [audio troubleshoot guide](https://docs.snips.ai/additional-resources/troubleshooting/troubleshooting-audio)

[2019-09-13 11:26] deniseBrise opened #195 "Unexpected output when subscribing to '/hermes/#' with mosquitto"
**What's the issue?**
Unexpected output is produce in terminal, when subscribing to all existing topics that are children of '/hermes/#'.
Moreover, subscribing to this topic using QMqttClient library produce endless message loop on 'hermes/audioServer/default/audioFrame'.

**Use Cases Impacted**
When user wants to subscribe to all messages related to snips.

**How to reproduce**
`timeout 0.1 mosqu

[2019-09-13 13:25] cpoisson commented on #195
Hi @deniseBrise,

It seems to me that it is a normal behavior.

What you are observing are the [audio frame messages](https://github.com/snipsco/hermes-protocol/blob/develop/hermes/src/ontology/audio_server.rs#L44) published on MQTT by the audio-server binded as the site `default`

So using the [mqtt topic wildcard](https://mosquitto.org/man/mqtt-7.html) you will have all the sub topics of `hermes

[2019-09-13 21:26] nordcomputer commented on #161
Any news on this?

[2019-09-14 10:00] gitmirko commented on #194
[code]
[code]
[code]
[code]

---
### Without --alsa_playback default
[code]
[code]

[2019-09-14 10:20] gitmirko commented on #194
Unfortunately I wasn't able to get it working with my setup.

[2019-09-14 12:42] ChrisB85 commented on #90
Recently I have build docker image with Snips (https://github.com/ChrisB85/snips_docker)
because I moved from Raspberry Pi to Ubuntu server and forgot to hold packages on 0.61.1. The result was the same - Google ASR wasn’t working properly.

[2019-09-15 15:20] carsten19 commented on #90
I have meanwhile build my own integration as I don't want to sit and wait until this issue might be fixed

[2019-09-15 15:35] Psychokiller1888 commented on #90
Yeah, this is dragging since too long and feels like a let down. Remove the support fully or fix it, I mean it takes literally no time to fix, just update the api and no time to get rid of the whole thing and force the user base to use only snips asr or create alternatives

[2019-09-16 07:13] deniseBrise commented on #195
Indeed, subscribing to topic 'hermes/audioServer/default/audioFrame/#' gives the same result, which seems to be the expected one.

[2019-09-16 07:13] #195 closed, assigned to nobody

[2019-09-16 14:59] stalakerob commented on #161
Also waiting for quite some time now....

[2019-09-16 15:36] cpoisson commented on #194
Hum,

it looks like a tricky issue with the sound card not supporting the default settings provided by alsa 🤔

Did you tried with another sound card?
Do you also have issues playing sound using `aplay`?

e.g.

[code]

You can also try to set them manually (`buffer_size`, `period_size`, `channels`, `rate`)

Can you try this `asound.conf`, and use `--alsa_capture default` and `--alsa_playback defaul

[2019-09-16 15:56] Nizar0001 opened #196 "Audio electronJs app doesn't play when Snips-audio-server is running"
We are implementing a UI app based on ReactJS and ElectronJs, we try to play a simple mp3 file from electron.
when snips-audio-server is not running, the audio is fine (mp3 files are playing locally using electron (JS) perfectly).
when not ! electron can not play audio. (seems hardware resources are reserved with the Snips audio server).

[2019-09-16 18:15] gitmirko commented on #194
**With my original config:**
[code]
**After adding -Dplug:default to the command the file is played with sound through the usb card:**
[code]
**After applying your suggested config:**
[code]

[2019-09-17 08:00] cpoisson commented on #196
Hello @Nizar0001,

Looks like a support issue, you should go on the forum in this case.
On which platform are you running your UI app?

Do not forget to provide more context about your problem. on which platform you are running, which version of snips you are using and so on. Without those informations support is totally impractical.

If on linux using alsa, the way to share your resources is usin

[2019-09-17 08:00] #196 closed, assigned to cpoisson

[2019-09-17 08:07] cpoisson commented on #194
this one interesting 🤔

[code]

I already had strange issues when some libasound packages where missing on my pi

Is `libasound2-plugins` installed on your system? [This package](https://packages.debian.org/sid/armhf/libasound2-plugins/filelist) seems to bring the shared library stated as missing.

[2019-09-17 15:00] cpoisson commented on #192
Let's scope that for `1.4` no rush. I'll declare that a known issue.

[2019-09-18 09:28] cpoisson commented on #90
I have retested it yesterday. It does not work anymore. At least now it crashes with more useful logs.

We may have figured out why (bad HTTP2 implementation in a rust 3rd party library)

For you guys relying on [google python library](https://pypi.org/project/google-cloud-speech/), you have a more reliable solution at hand as those low level libraries are directly maintained by google and save yo

[2019-09-18 17:24] ChrisB85 commented on #90
@cpoisson The error you have mentioned started showing from couple of days also in 0.60.12 which i'm using and was working fine:

It didn't occured earlier, so unfortunately it's not the same bug that issue is about.

At the moment my Snips is deaf :(

[2019-09-19 09:15] cpoisson commented on #90
@ChrisB85
Yes, exactly the issue I had encountered this monday, seems like google HTTP/2 implementation has changed.

We are currently reaching the release candidate phase for the next release (beginning of october)
@fredszaq managed to push a tentative fix on `snips-asr-google` yesterday. The crash disappears and the requests to google asr seems to work. (tough the first request does not for some

[2019-09-21 17:45] Bertware commented on #161
This thread contains documentation on how to install snips on Raspbian Buster for now: https://forum.snips.ai/t/solved-raspberry-pi-4-buster-how-to-do-it/3647

[2019-09-23 09:03] gitmirko commented on #194
OK, now after installing the `libasound2-plugins` package and editing your suggested asound.conf (without the capture part) `aplay` and `snips-audio-server` now output sound.

There is still a difference when playing through `aplay` instead of the output from `snips-audio-server`: with snips-audio-server there is a pop noise before every file played. With `aplay` there is no such annoying sound.

[2019-09-23 15:56] cpoisson commented on #90
I promised some news,

So we tested it again, and it does not work (the HTTP2 errors were fixed, things were back to normal, few days after we had authentication issue)

Too many things seem to change on google protocols side lately and we don't have any reliable rust implementation of this stack to keep the compatibility ongoing.

As advised, the best is to fall back on a python implementation us

[2019-09-23 18:26] maxbachmann opened #197 "[snips-watch] --no-color flag seems to have no effects"
**What's the issue?**
snips-watch --no-color should not color the output, however it does color it

**How to reproduce**
run snips-watch --no-color

**Expected behavior**
no colors to be added

**Version and Environment**
snips_watch 1.2.2 (0.63.3), Raspbian Stretch

[2019-09-23 19:57] Amhehu commented on #161
Did someone already test it? It sounds too simply to be true.

[2019-09-24 08:59] cpoisson commented on #194
I noticed that as well, I did not had the time yet to figure out a solution.

It is worth to have a look on [those forums](https://www.google.com/search?&q=alsa+pop+sound) I guess. It seems to be a pretty common issue.

But what you said about aplay makes me wonder why the pop noise does not happen in this case 🤔

[2019-09-24 13:52] cpoisson commented on #197
Thanks for your feedback,
I do confirm the issue.

[2019-09-24 14:16] cpoisson commented on #194
Hum, after some tests,

My sound card (piHAT) seems to turn off the output after 5 seconds but the plop issue is not related to that.

The problem can easily be reproduced when trying to play a sound produced by pico tts using the audio server.

The occurrence of the issue seems to drop when switching back to portaudio backend for playback.

You can try to remove the `alsa_playback = "default"` fr

[2019-09-24 14:40] cpoisson opened #198 "[audio-server] Plop / Click artefact at the beginning of playback sound"
**What's the issue?**
Following feedback in #194
When using the configuration stated in #148, the audio-server produces a plop artefact just before playing a sound.
The occurrence of the issue is maximum when using pico2wave output.

The issue does not occur when playing sound using `aplay` or `sox play`

**Use Cases Impacted**
Usage of sounds feedback on the platform.

**How to reproduce**

1. St

[2019-09-24 16:01] cedcox commented on #175
Hello,

yes i'm the writer of this "old" article. I write a new one with the new method ;)

thanks for job ;)

Cedric

[2019-09-24 20:06] gitmirko commented on #194
Thank you very much @cpoisson. Now everything is working as expected.

It was a pleasure working with you on this issue.

Best regards
Mirko

[2019-09-24 20:06] #194 closed, assigned to cpoisson

[2019-09-25 07:52] cpoisson commented on #194
Ah thanks! ;) Enjoy snips!

[2019-09-25 12:28] maxbachmann commented on #197
another thing that made me kind of wonder whether it is intended is that the normal output using ansi codes uses a completely different color scheme than the html export using --html

[2019-09-25 21:06] ChrisB85 commented on #90
@cpoisson I'm not sure if I uderstand correctly... Are you trying to say that this issue won't be fixed and there will be no new releases of Google ASR on your side?

[2019-09-26 08:43] deniseBrise opened #199 "[snips-dialogue][NLU] Alternative results for a slot"
**Is your feature request related to a problem? Please describe.**
When NLU engine is parsing input for slot detection, if two or more values for this slot are almost homophones (like 'Denise', 'Denis', and 'Dennis'), it always gives the same result for the slot, which is not always the good one.

**What are the use cases of this feature**
When selecting a noun inside a list of injected entities.

[2019-09-26 09:11] cpoisson commented on #199
Hi @deniseBrise ,

Intents alternative is coming in the next release!

If you check `hermes-protocol` [dialogue ontology](https://github.com/snipsco/hermes-protocol/blob/8bcffb088839705d3a0594850408f6ac9e7c4dfc/hermes/src/ontology/dialogue.rs#L30), you'll notice a new field in the `IntentMessage` structure labeled `alternatives`.

The next version of snips-dialogue and snips-nlu will implement thi

[2019-09-26 19:52] Psychokiller1888 commented on #90
Isn't it clear since long?

[2019-09-27 14:04] cpoisson commented on #90
Yes @ChrisB85 we are working on a deprecation plan for this feature.

[2019-09-27 14:14] cpoisson commented on #161
⬆️ We are targeting end of october to deal with this issue.

[2019-09-27 14:16] cpoisson commented on #114
Tested ok my side. I'm closing this one.

[2019-09-27 14:16] #114 closed

[2019-09-27 17:23] sunilvb commented on #161
Would love to see it on Buster sooner.

[2019-09-27 18:18] batje commented on #161
What's stopping you? It's open source.

[2019-09-27 20:08] sunilvb commented on #161
Ok followed the instructions and was able to install like below :

_Connected to device raspberrypi.local

OS version ................... Raspbian GNU/Linux 10 (buster)
Installed assistant .......... Nathan
Language ..................... en
Hotword ...................... chappie
ASR engine ................... snips
Status ....................... Live

Service status:

snips-analytics .............

[2019-09-29 16:16] ChrisB85 commented on #90
@cpoisson It's a shame you are not going to develop it anymore. Honestly I was so disappointed that I decided to create my own Google ASR for Snips, and here it is: https://github.com/ChrisB85/snips_google_asr
I'm python-newbie so maybe the code is ugly, but at least IT WORKS :D
It's Snips skill, so it's easy to install. Please give it a try if you want :)

Edit: There is one problem with my imple

[2019-09-29 20:20] bpejac opened #200 "Detecting intents from apps that are no longer installed"
**What's the issue?**
After removing apps from the assistant, updating it, deleting the skill with `rm -rf ...` and then restarting the skill server, the voice command still detects intents from these apps.

For example the command `whats your ip?` will be detected as the intent `ANTAT:ip_address`, even tho the app is no longer found anywhere I can see. I updated the assistant multiple times and r

[2019-09-30 05:24] Psychokiller1888 commented on #90
@ChrisB85

This is a working implementation: https://github.com/project-alice-powered-by-snips/ProjectAlice/blob/master/core/voice/ASRManager.py

Check around lines 87, the payload must be complete if you want it to work

The intent must be topic only, like "ProjectAlice:OpenWindows", without the path

[2019-09-30 07:13] #200 closed, assigned to cpoisson

[2019-09-30 09:03] ChrisB85 commented on #90
@Psychokiller1888 Thank you for reply, but I'm little bit confused with it. What do you mean the payload must be complete? I'm publishing all values on 'hermes/asr/textCaptured' topic like in your script (sessionId, siteId, text, likelihood and seconds). The difference is that after that you are publishing on 'hermes/nlu/query'.

Without the path? So should it be "OpenWindows"?

[2019-09-30 09:59] Psychokiller1888 commented on #90
without the path means without the /hermes/intents, but with the owner

[2019-09-30 23:11] nordcomputer commented on #161
Throw some money on it - it may help ;-)

[Insert Donation Button here]

[2019-10-02 14:02] cpoisson commented on #148
1.3.0 is release with a mitigation change for this issue. [doc](https://docs.snips.ai/additional-resources/release-notes#platform-update-1-3-0-0-64-0-02-10-2019)

[2019-10-02 14:02] #148 closed

[2019-10-02 14:06] Psychokiller1888 commented on #171
So 1.3.0 came out, but this wasn't fixed? I don't see it in the changelog, but it was tagged for next version which just happened?

[2019-10-02 14:38] cpoisson commented on #156
Fixed in version [1.3.0](https://docs.snips.ai/additional-resources/release-notes#platform-update-1-3-0-0-64-0-02-10-2019)

[2019-10-02 14:38] #156 closed, assigned to cpoisson, Garvys

[2019-10-02 14:41] cpoisson commented on #193
Partially fixed in version [1.3.0](https://docs.snips.ai/additional-resources/release-notes#platform-update-1-3-0-0-64-0-02-10-2019)

If the injection fail, the completion message will not be emitted.

[2019-10-02 14:45] cpoisson commented on #171
Hello @Psychokiller1888, no the related feature is still scoped for a future release in our backlog.

[2019-10-02 14:48] cpoisson commented on #159
Done!

https://docs.snips.ai/articles/platform/platform-configuration

[2019-10-02 14:48] #159 closed, assigned to cpoisson

[2019-10-02 15:01] cpoisson commented on #199
Feel free to check version [1.3.0](https://docs.snips.ai/additional-resources/release-notes#platform-update-1-3-0-0-64-0-02-10-2019)

You should be able to achieve your goal.

[2019-10-02 15:01] #199 closed, assigned to cpoisson, adrienball

[2019-10-02 15:09] cpoisson commented on #141
Hi @probonopd

We have improved the log output in the version [1.3.0](https://docs.snips.ai/additional-resources/release-notes#platform-update-1-3-0-0-64-0-02-10-2019)

Now, when a dialog session time out, the culprit component is stated in the logs.

Regarding the injection of `snips-skills-server` errors, it does not implement in itself `hermes-protocol` which is quite costly to do on our side.

[2019-10-02 15:09] #141 closed

[2019-10-02 17:45] farfade commented on #148
Hello @cpoisson

(edit) Maybe I solved my problem using pulseaudio.
I don't understand why, but my Debian distro has this file :

/etc/pulse/client.conf.d/00-disable-autospawn.conf

containing a directive disabling pulse autospawn.

Commenting this directive enabled the pulse autospawn when running the snips-audio-server at boot time.
For an unknown reason, restarting the snips-audio-server manual

[2019-10-03 21:44] marcteyssier opened #201 "[audio-server] Output sound like TTS is cut quickly when it starts playing for some configurations"
Hi,

My app was ok last week, but I have update my snips-platform and the TTS say only the first syllable and it cut.

**How to reproduce**
This is produce for every message. I have jeedom snips plugin and when I try to test TTS from my jeedom it's the same case.
Before the update, I haven't this problem

**Version and Environment**
Snips 0.64
Raspberry pi 3 Stretch
Respeaker 4

**Configuration**

[2019-10-04 06:43] cpoisson commented on #201
Thanks for your feedback,

Actually it is not the TTS but the audio server. We are currently investigating this issue.

[2019-10-04 08:03] marcteyssier commented on #201
Thanks.
Note : I did the test with the command "sam test speaker" and I hear the sound very well and everything works.
I apply this configuration https://forum.snips.ai/t/no-audio-from-snips-sam-test-speakers-works/2716/9 that work fine before update with snips 0.63.3

[2019-10-04 10:04] cpoisson commented on #201
Thanks for this info, I was wondering why so many makers had this configuration.

I'll have a look.

Can you confirm that you use the raspi embedded sound card for playback?

[2019-10-04 10:22] cedricbellec commented on #161
sudo apt-get install snips-watch should solve the issue

[2019-10-04 12:33] marcteyssier commented on #201
Yes I confirm, I use the raspi sound card for playback.
Thank you for your support

[2019-10-04 13:01] cpoisson commented on #194
@gitmirko I think I found the reason of the pop/click

This item in the configuration may be the culprit

[code]
I removed the resampling, it seems ok now.

[2019-10-04 13:10] cpoisson commented on #148
I'm no expert on pulse but it seems that the user under which the process is run notice has to be authorized to use `pulse audio`. (look [above](https://github.com/snipsco/snips-issues/issues/148#issuecomment-511105528))

Do you have the same behavior using ?

[code]

Regarding the usage of the configuration options to use `portaudio` or `alsa` backend:

Using the command line it looks like:

[cod

[2019-10-04 13:29] cpoisson commented on #194
This doc is worth reading about this https://wiki.archlinux.org/index.php/Advanced_Linux_Sound_Architecture#High_quality_resampling

[2019-10-04 15:48] Psychokiller1888 commented on #198
I have the feeling that, since 1.3.0, the output is somehow cut by 0.1 or 0.2 sec. It feels like the speech is missing something at the begining, beside the plop on a respeaker 6 circ mic array

[2019-10-04 16:10] Pravez opened #202 "[Android] No TTS with error "The session timed out because the TTS component did not respond [...]""
Hi ! First of all thank you for your work on this assistant, it is really nice ! :)

**What's the issue?**
When asked a TTS request on android by Dialogue, after approximately 15 seconds without sound the following error appears and the TTS request is cancelled :
```[Dialogue] session with id 'c33b814b-6b8a-4bce-90f1-6f22faa40912' was ended on site default. The session timed out because the TTS co

[2019-10-05 12:12] cpoisson commented on #201
**Workaround**
While trying to find a better one...

Downgrade 'snips-audio-server' and 'snips-tts' to version `0.63.3`

[code]

[2019-10-05 13:39] carsten19 opened #203 "[audio-server] Audio issues using alsa playback backend (drain error + sound is cut)"
**What's the issue**

I just upgraded my system (Raspi 4 with Stretch packages) to 0.64. Unfortunately the error
`ALSA function 'snd_pcm_drain' failed with error 'EIO: I/O error'`
is back. None of the known workarounds fix it.
Once I downgraded to 0.63.3 the problem disappears.

**Expected**
Same behavior as 1.2.2

**Version**

`1.3.0 (0.64.0)`

**Environment**
- Raspberry Pi 4 - Debian Stretch
-

[2019-10-06 16:51] openlewa opened #204 "quick start raspberry pi - step 2 - wpa_supplicant.conf - Country Code"
In the example of the wpa_supplicant.conf there isnt an example of a Country Code like DE, US or GB. Did you mean the Top-Level-Domain, ISO 3166-2 or the Locode?

[2019-10-06 20:00] marcteyssier commented on #201
Thank you it works with the old version.
If you need additional information do not hesitate i will do my best to help you.
Marc

[2019-10-07 07:30] cpoisson commented on #203
Thanks for your ticket @cburghardt,

Quick question, Which sound card are you using as your main sound playback interface?

Can you post as well your `asound.conf` configuration.

Many thanks for your feedbacks

[2019-10-07 08:07] carsten19 commented on #203
I use the onboard sound card of the raspberry.

[code]

[2019-10-07 15:08] cpoisson commented on #203
Ok,

So the issue is indeed related to #201

Using alsa, the ring buffer parameters setup done by the audio server is incorrect, and seems to induce multiple issues:
- snips-audio-server is deadlocked (probably waiting for the snd_pcm_drain (all audio samples are played) and need a restart.
- sound is sometimes cut (work / does not work, depends on your luck + sample rate)

This issue seems to app

[2019-10-07 15:15] cpoisson commented on #201
@marcteyssier,
It seems that your issue and #203 have the same root cause.

I'n closing this one as a duplicate, lets to the follow up in the other one.

[2019-10-07 15:15] #201 closed, assigned to cpoisson

[2019-10-07 15:22] cpoisson commented on #203
@marcteyssier, @cburghardt

I gave a try to your configuration (coming from the forum I suppose), using portaudio.

[code]

Seems to work correclty I don't see any errors.

Can you patch your `/etc/snips.toml` with `portaudio_playback = "default"` under `[snips-audio-server]` section, to give a shot to this workaround (1.3.0 only) ?

[2019-10-07 15:53] carsten19 commented on #203
So I upgraded to 0.64 and applied the changes. Result:
caused by: an error occured in the audio pipeline: ErrorMessage { msg: "Couldn\'t find a PortAudio device with the name default" }

[2019-10-07 17:34] farfade commented on #148
@cpoisson : Yes, all the behaviour I described where observed under the _snips user.

I'm not an expert either... I read [PulseAudio - Should users be in the "audio" group?](https://www.freedesktop.org/wiki/Software/PulseAudio/Documentation/User/PerfectSetup/) and learnt that Debian belongs to group 1 distros, so there is the need to put the _snips user in the audio group.

As of today, everything

[2019-10-07 20:00] cpoisson commented on #204
Hum, we don't maintain wpa supplicant.

You can have a look to [arch linux wiki](https://wiki.archlinux.org/index.php/WPA_supplicant#Configuration), it is usually a reliable source of information.

The wiki page refers to `ISO/IEC alpha2 country code`

I hope this help!

I'm closing this issue for it is not really related to the snips platform.

[2019-10-07 20:00] #204 closed, assigned to cpoisson

[2019-10-07 20:40] openlewa commented on #204
But it is a step in the documentation (https://docs.snips.ai/getting-started/quick-start-raspberry-pi) and its a little opstacle if someone cant handle it. You can write "ISO/IEC alpha2 country code" into the manual. It would be nice to share this help with everyone. Thank you

[2019-10-08 07:28] cpoisson commented on #203
Ok, that's another one to figure out.

I also tried to delegate things to dmix. Works great with the piHAT 2 (provided the user using the sound is in the audio group)

But as soon as I switch on the raspberry pi even `aplay` deadlock. After an inspection with `strace` I think I stumbled on this [known issue](https://www.raspberrypi.org/forums/viewtopic.php?p=481557)

[2019-10-08 08:27] cpoisson commented on #202
Hello @Pravez ,

Did you check if [Google TTS](https://play.google.com/store/apps/details?id=com.google.android.tts&hl=en_US) is installed on your phone?

If it is installed, it may be worth to have some logs to figure out the issue.

Have a good day!

[2019-10-08 08:44] Pravez commented on #202
Google TTS is installed. I also tried to use it directly through the android API, and it perfectly works.

Here is the entire output of the snips processing service :
[code]

I am not sure but I cannot see any error here. On the main app process I end up with this :
[code]

Concerning the logs of Google TTS, I could not find any. It seems to correspond with the fact that independantly, TTS is work

[2019-10-08 08:47] marcteyssier commented on #203
Hi, this work for me with my respeaker mic 4 array.
I heard all the sentence.

Thank you for your help

[2019-10-08 09:02] fredszaq commented on #202
Hi @Pravez !

The default TTS handler for doesn't log anything if it encounter errors... (shame on me) you can however change it quite easilly using the `setTtsEngine` on the `SnipsPlatformClient`

here's a quick copy paste of the default one (the sources are available on [nexus](https://nexus-repository.snips.ai/repository/snips-maven-releases/ai/snips/snips-platform-android/0.64.0/snips-platform

[2019-10-08 09:11] cpoisson commented on #117
Fixed in version `1.3.0 (0.64.0)`

[2019-10-08 09:11] #117 closed

[2019-10-08 09:53] Pravez commented on #202
It now works nicely. I also had a problem of dialogue not continuing, but it now continues flawlessly.
There's just a detail : the callback on snipsPlatformClient, onTtsSayListener is not called anymore ... I suppose it is because we changed the default tts engine. Thank you :)

[2019-10-08 10:01] fredszaq commented on #202
The onTtsSayListener is a shortcut to register a TtsEngine, if you register one it should call the actual TTS engine to generate the sound

[2019-10-08 10:09] Pravez commented on #202
Oh okay, I thought it was an additional callback when the TtsEngine was supposed to be called. Misread documentation ! As my problem is solved I close this issue, thank you for your help !

[2019-10-08 10:09] #202 closed, assigned to fredszaq

[2019-10-08 13:01] cpoisson commented on #198
@Psychokiller1888

The 1.3.0 audio issue are related to #203

Regarding the pop and click, I have a clue.

In the asound.conf provided by seeed drivers, there is a line to enforce a given resampler.

[code]

I simply removed it. problem solved on my side.

[2019-10-08 13:58] cpoisson commented on #203
Regarding the `bcm2835` (raspi sound card) it is really impossible to use it with dmix on my side. The thing just stay stuck.

Otherwise the following `asound.conf` configuration works perfectly on the hw available on my desk using the default alsa playback.

**/etc/asound.conf**

[code]

**Hardware tested**

| Audio device | Playback | Capture | Details |
| :---: | :---: | :---: | :--- |
| `bcm28

[2019-10-08 14:39] carsten19 commented on #203
So how do I convince the audio server to use portaudio if that seems to work?
My main unit just uses the onboard raspi sound card for playback. Recording is done via satellites.

[2019-10-08 16:27] cpoisson commented on #203
The test above was done using alsa for playback and capture.

I had the following configuration working on my side using portaudio on the bcm2835, it should match your needs

[code]

Test it along

[code]

Fun fact, it stops working if you remove `slave.rate 48000`, with the same error as yours.

[code]

[2019-10-08 21:08] cpoisson commented on #204
yup, will do. good idea indeed.

[2019-10-08 21:38] cpoisson commented on #204
snippet updated

[code]

[2019-10-09 06:18] carsten19 commented on #203
Result:
[code]

[2019-10-09 12:45] cpoisson commented on #203
🤔 ok, now I'm running short of ideas.

Can you show me the content of `aplay -l` on your device?

This configuration works on 3 out of 3 Pi 3 boards using version 0.64.0

Here are the logs I obtain.

[code]

You should not have those following lines in your log

[code]

Looks like a configuration issue to me but I prefer to confirm that with your device information (`aplay -l`)

[2019-10-09 12:56] carsten19 commented on #203
It's a pi 4 maybe that's the difference.

[code]

[2019-10-09 15:01] Alelelex commented on #203
Hi, I have the same problem here. I tried a lot of solution without success.
My error is a bit different is "sam watch" :
`[Audio Server] reported an error on site default : An error happened while trying to play some audio`

It doesn't work better by downgrading snips-tts and snips-audio-server to version 0.63.3.

On hardware side I tried with a Jabra PHS001U and a Respeaker 6mics with the same r

[2019-10-09 15:13] cpoisson commented on #203
@Alelelex It could be a very different issue. Let's try not to clutter this issue and deal that on the [forum](https://forum.snips.ai/t/no-audio-from-snips-sam-test-speakers-works/2716/11)

[2019-10-09 15:25] openlewa commented on #204
Thank you

[2019-10-09 18:06] nicoxygen commented on #201
hello i have same problem

[2019-10-10 11:18] cpoisson commented on #203
@cburghardt

I could grab a Pi 4 on debian buster.

[code]

I do confirm that the following configuration is working with snips-audio-server 0.64.0 using portaudio backend for playback

[code]

(same test command)

[code]

[2019-10-10 14:14] Pravez opened #205 "[Android] Can't use Google ASR"
**What's the issue?**
I wish to use Google ASR on my Android app integrating Snips. I modified correctly in the console how my app is built, and when loading the snips platform on android, it crashes.

**Version and Environment**
Samsung S8+ with android sdk 28

**Logs**
Here is what logs the snips platform when crashing :
[code]
The fact is that I couldn't find anywhere in your documentation if i

[2019-10-10 15:32] fredszaq commented on #205
Google asr is not supported on android, and it is not planned to support it.

[2019-10-10 15:32] #205 closed, assigned to fredszaq

[2019-10-10 19:45] CandidoAC opened #206 "Version 0.64.0 en Android 9.0"
Hello,
I have a problem recognizing an attempt after updating the SNIPS version to 0.64.0 in Android. I have detected that this error comes out in Android version 9.0, but nevertheless in versions 8.1 does not come out (I do not have any version between these to try them). In previous versions of Snips did not come out.
The error is an NLU error that seems to be blocked when it detects a sentence

[2019-10-11 07:10] cpoisson commented on #206
@CandidoAC
Thanks for your feedback.

Can you provide the logs related to the issue? (from logcat of course)
Can you also clarify your issue description? I cannot understand it.
Ideally follow the issue description template.

Without this information, I'm going to be forced to reject this issue.

[2019-10-11 08:47] fredszaq commented on #206
@CandidoAC be sure to `.enableLogs(true)` on the `SnipsPlatformClient` and get the logs from the `yourAppId:snipsProcessingService` process.

Also which architecture are you seeing this on ?

[2019-10-11 08:49] SvenSchiffner commented on #203
I can confirm that the workaround works for me. But with portaudio I have to remove capture.pcm from asound.conf. Otherwise I also get the PortAudio default device error.

[2019-10-11 09:23] carsten19 commented on #203
Thanks a lot @sven5s - that was the key. With that modification it works.

[2019-10-11 09:51] cpoisson commented on #203
@cburghardt

Nice to heart that!

I'll keep it open to follow up this issue until we release a definitive fix.

[2019-10-11 20:44] CandidoAC commented on #206
Hi,
I'll tell you more about my problems.
The first happens when the assistant detects a full attempt and says the expected output. After this the application stops for 1-2 seconds and then sends the TTS error.
The second case happens when the phrase is not said in full without saying a slot, which is marked as necessary, and asks for it again. After this the application is stopped 3-4 seconds (as

[2019-10-11 20:50] CandidoAC commented on #206
Hello,
I checked the logs and didn't understand what the errors are (I just sent them in a previous post). Regarding the architecture, the error has been in a Huawei P10 with Android 9.0

Thanks for the answer,
CandidoAC

[2019-10-14 02:35] weathon opened #207 "[SAM] Typo in sam CLI help message"
**Toogle sound feedback on or off**
[code]

[2019-10-14 09:16] #198 closed, assigned to fredszaq, cpoisson

[2019-10-14 15:40] fredszaq commented on #206
Hi @CandidoAC!

these logs are missing a bit of the interesting stuff, as only Info logs are show, make sure to select `Verbose` instead of `Info` in android studio's logcat windows

also these logs may need to be enabled manually on Huawei phones, see https://gist.github.com/Shallong11/8403487

[2019-10-14 19:09] Nokius commented on #161
I had no luck to get it working, I still get the message downgrade to strech, which is not possible with rpi4.

if any one can post a possible way to get it working would be great, thanks in advance!
sam init fails. audio test works well :-/
October will end soon(tm) ...

[2019-10-15 03:42] jakemonton commented on #161
@Nokius I give up on running snips on rpi4 as they still have not released official support for Buster. I reverted back to my old rpi3 for now just to test out what I'm working.

[2019-10-15 15:17] cpoisson commented on #123
@solars

We will publish this documentation soon on docs.snips.ai

https://github.com/snipsco/snips-platform-docker

This procedure intends to explain how to run the snips platform in a docker container on Windows using pulse audio.

[2019-10-15 15:19] #123 closed

[2019-10-16 14:07] Alpha200 opened #208 "[hermes-python] Unable to install python-hermes >= 0.8 on x86-64 platform"
I am unable to install the hermes-python package >= 0.8.0 on linux x86-64 beacause there are only packages uploaded on PyPi for macOS, armv6 and armv7.

Output of pip install python-hermes==0.8.0 (Python 3.5):

[code]

[2019-10-16 15:53] cpoisson commented on #208
Thanks for your feedback.

There is an issue indeed!

[code]

[code]

The latest version is `0.8.1`, `0.8.0` is broken. Nonetheless, they should be both available on pypi.

[2019-10-17 13:16] anthonyray commented on #208
Hello @Alpha200 ,

Sorry for the inconvenience, the wheels were built, but not uploaded ...
They are now available on PyPi.

Let us know if everything goes well.

[2019-10-17 13:17] #208 closed, assigned to anthonyray

[2019-10-17 14:59] cpoisson commented on #203
For the record,

Trying to fix this issue we still stumbled on `AudioError(OtherError(Error("snd_pcm_drain", Sys(EIO)) could not drain pcm))` using the **bcm2835** embedded sound card.

It seems that there is a kernel known issue about that => raspberrypi/linux#2983

The current version is `4.19.66`, rolling back to kernel version `4.19.36` or upgrading to `4.19.79`  fix the issue on my side.

I g

[2019-10-17 20:45] Alpha200 commented on #208
Thanks for the fast response. Everything works now as expected.

[2019-10-20 10:02] Psychokiller1888 commented on #187
this is what I'm talking about:

![https://puu.sh/EuJ94.png](https://puu.sh/EuJ94.png)

Imma waste my mouse deleting this.... Same for apps, assistants and intents

[2019-10-21 10:04] pocketjoso commented on #187
Sorry for repeating my question but if you really intend to reset your account, would it not be easier to create a new account, than clearing one resource type after another? Or even that we introduced a "reset account" button instead?

[2019-10-21 10:05] Psychokiller1888 commented on #187
Yeah, a reset account would be nice :)
I do not want to create a new account, i'd have 50 acounts already by now :)

[2019-10-21 10:10] pocketjoso commented on #187
I see. Do you have a lot of resources on your account that are or have been available through the app store? As I think you know, these cannot be deleted, and would remain on your account even after a reset. Knowing this, would the reset still be useful? (i.e. are most of your account resources ones that have never been available through the store)

[2019-10-21 10:13] Psychokiller1888 commented on #187
None are available through the store, they are all auto generated by Alice on Github sync. And as I'm testing and testing and testing new and newer use cases, functions and all throughout the day, we end up with 500+ slots, 50+ assistants, 300+ apps, 100+ intents etc etc etc. When I say we, i mean those that dev on ProjectAlice and all of our testers on alpha

[2019-10-21 10:48] pocketjoso commented on #187
I see, so you have your source code outside, that's why it's no issue for you to empty the account completely, is that correct? It's a bit of an edge case, but if it's difficult for you to clear the account programmatically (not sure we offer endpoint support for this) then we can look into a "Reset account (resources)" button.

For this - a Reset account button - can you please open a new issue?

[2019-10-21 11:20] Psychokiller1888 opened #209 "[Console] Reset button"
As we are creating assistants, apps, intents and slots programmatically on ProjectAlice, with definition coming from Github, we devs and testers, often end up with hundreds of assistants and 500+ slots as there's no programmatic protection against duplicates in the snips endpoints

A button that allows one to reset his account would really help save mice all around the globe, as deleting a slot ta

[2019-10-21 11:45] #187 closed, assigned to pocketjoso, fpcode

[2019-10-21 11:48] pocketjoso commented on #209
So to get the details right, should we limit this reset to `resources` - assistants, apps, intents, slot types, unit tests?

This means leaving the rest of your account (profile, settings, tokens) intact - or would it be acceptable for you to reset this though?

[2019-10-21 11:50] Psychokiller1888 commented on #209
I'd limit user created data, meaning assistant, apps, intents, slots, unit tests. For the feature to be more useful to a wider audience allowing to choose what data to get rid of would be better in the long run. If deleting everything then you should just implement a "Delete account" button that wipes everything, which is not really what I'm looking for

[2019-10-22 14:02] thorstenMueller commented on #203
I can confirm that the downgrade on 4.19.36 works for my setup (all snips components running 0.64.0, raspberry 3b running stetch).
As user of matrix voice i was unable to build kernel modules because of missing kernel headers for .36 kernel version.
After using "rpi-source" building matrix voice modules works again.

[2019-10-22 18:27] Nokius commented on #161
any updates on the issue my rpi4 looks for some work :-/

I'm up for some testing (=

[2019-10-23 15:04] batje commented on #161
it seems ubuntu 19.10 runs on a pi4. i havent tried, but maybe snips runs in that config?

[2019-10-23 20:30] shexbeer commented on #161
I had no issues installing snips 0.64 on Buster with raspberry pi4
see this picture: https://imgur.com/a/DhsWvhn

Followed this guide (https://forum.snips.ai/t/solved-raspberry-pi-4-buster-how-to-do-it/3647/2), combined with the mentions about fortran here in that issue i was able to install it

I think it was something like:
[code]

[2019-10-24 12:52] Andergraw commented on #203
I was having issues with cutted sounds and unstable audio server and upgrading kernel to 4.19.79 solved them all.
Thanks!

[2019-10-24 16:33] jmichaluk opened #210 "Injection failure: No such file or directory (os error 2)"
**Version and Environment**
Android 5.1.1, QuadCore-A64, Snips 1.3.0 (0.64.0)
Assistant was trained and deployed on October 24th, 2019.

**What's the issue?**
Unable to inject values in Android demo application with no changes made.

**Expected behavior**
Injection to complete without issue, and the ability to use the new values in commands.

**Logs**
[code]

[2019-10-24 17:41] hav0ck opened #211 "Cannot install snips platform on Ubuntu 18.04"
For over a year I have been attempting to get Snips running on Ubuntu 18.04 as a Base and on a Ri Zero W as a satellite.

In this time I have achieved no headway, fixes offered often end up causing a different issue or end up resulting in a Purge or Full rebuild of the OS.

Please, if there is no help, clear and/or current documentation available for an OS then remove it as a supported OS.

I real

[2019-10-24 19:08] Nokius commented on #161
@shexbeer I followed it too.

[code]

snips-asr and snips-nul keep failing to start up :(

[2019-10-24 20:04] Nokius commented on #161
well looks like the GPG key changed

[code]

looks like there is an aarch64 [repo](https://docs.snips.ai/articles/other-platforms)  now for buster

[2019-10-24 21:07] Nokius commented on #161
The GPG apt issue has a workaround add `[trusted=yes]` after deb

[code]

snips-asr and snips-skill-server still give a pain

after a reboot I just have issues with `snips-asr`.
taken from `journalctl`
`Oct 24 22:15:54 raspberrypi snips-asr[1027]: /usr/bin/snips-asr: error while loading shared libraries: libgfortran.so.3: cannot open shared object file: No such file or directory
`
something is mis

[2019-10-28 10:03] cpoisson commented on #211
Hi @hav0ck,

Thanks for your feedback.

AFAIK, there is no issue preventing to install snips on ubuntu 18.04 (I personally run it at home)

Can you provide us some details about your issue?

[2019-10-28 10:59] cpoisson commented on #211
I have found the corresponding forum thread => https://forum.snips.ai/t/problem-getting-response-from-snips/3906/6

I'm closing this issue.

[2019-10-28 10:59] #211 closed, assigned to cpoisson

[2019-10-28 14:50] cpoisson commented on #210
Hi @jmichaluk,

This issue occurs when the files needed for the injection are missing in your assistant.

Can you check if those file exists on your android device

e.g.

[code]

[2019-10-28 16:31] jmichaluk commented on #210
A fresh install of the the assistant (built this morning) seems to have resolved the issue.
Strange, because I had rebuilt and installed the assistant several times on Friday while trying to resolve the issue myself.

Thanks.

[2019-10-28 16:31] #210 closed, assigned to fredszaq, cpoisson

[2019-11-01 02:06] zaripych opened #212 "[SAM] Expose Snips Console API as separate package or Make Sam Download Assistant"
**Is your feature request related to a problem? Please describe.**
We are at a stage where we want to streamline bug fixes to assistant and automate deployments to production.

At the moment SAM can download and upload assistant to Raspberri Pi devices via SSH. It also expects users to be typing in login credentials and cannot use `stdin` as input for credentials (at least according to `snips-sam

[2019-11-05 10:34] Amhehu commented on #161
End of october is over. Are there any updates?
Sorry, I'm very nervous ^^

[2019-11-05 11:17] ghost commented on #161
I got back this from the pi trying to install libgfortran3.
[code]

[2019-11-11 14:38] Pittermaennchen commented on #161
@cpoisson Any news on this? I would like to join the snips community. But I bought a raspberry pi 4 and am unable to install Raspbian Stretch on it. :(

[2019-11-11 17:54] flatsiedatsie commented on #161
You can install Snips on a Pi 4 with Buster just fine. Just not the latest version of Snips. The Voco add-on for the Mozilla Gateway does this, and doesn't have any dependencies.

[2019-11-12 00:35] Pittermaennchen commented on #161
Thank you for the tip! I managed to install the Mozilla Gateway and added Voco. But I didn't manage to install the necessary drivers for my Respeaker 4-Mic Array yet.

If I get to this point: How can I change the Snips Language in the Voco addon? And how can I train my own assistant with this addon?

[2019-11-12 11:33] johanneskropf opened #213 "Snips-audio-server creates 90%+ Cpu loads even on idle in combination with respeaker gpio mics"
Lately the snips-audio-server process on a raspberry pi 3b+ running the latest stretch release and the latest snips update has started using high amounts of cpu even when in idle.
This only occurs when the the seeed-voicecard drivers are installed. The loads go down to normal as soon as they are uninstalled and another microphone like the respeaker usb mic array or a playstation eye are used.
The

[2019-11-12 12:04] Amhehu commented on #161
I just tried to follow this instructions on my RPi 3A. Everything is fine except of the snips-audio-server which is not running

OS version ................... Raspbian GNU/Linux 10 (buster)
Installed assistant .......... XXX
Language ..................... de
Hotword ...................... hey_snips
ASR engine ................... snips
Status ....................... Live

Service status:

snips-as

[2019-11-12 12:08] Amhehu commented on #161
I just tried to follow this instructions on my RPi 3A. Everything is fine except of the snips-audio-server which is not running

OS version ................... Raspbian GNU/Linux 10 (buster)
Installed assistant .......... XXX
Language ..................... de
Hotword ...................... hey_snips
ASR engine ................... snips
Status ....................... Live

Service status:

snips-as

[2019-11-12 12:48] johanneskropf commented on #213
at least on the raspberry pi zero the cpu usage drops as soon as i disable audio playback in the snips.toml. so i guess there is a conflict between the snips-satellite and the seeed-voicecard

[2019-11-12 12:50] cpoisson commented on #213
Hi @johanneskropf ,

Thanks for your feedback.

The issue is linked to #203.

It has also been discussed here respeaker/seeed-voicecard#193

I'm closing this one as a duplicate.

[2019-11-12 12:50] #213 closed, assigned to nobody

[2019-11-12 13:40] sifus opened #214 "unable to create a previously deleted intent"
**What's the issue?**
I deleted MusicPreviousJeedom intent by mistake (besides a cancellation feature would be cool) and Snips will not let me rewrite an intent with the same name.

**Version and Environment**
Snips console

#214  unable to create a previously deleted intent

<img width="524" alt="Capture d’écran 2019-11-12 à 14 36 11" src="https://user-images.githubusercontent.com/2979258/68676

[2019-11-12 13:44] sifus opened #215 "Delayed cancellation"
**Is your feature request related to a problem? Please describe.**
either before a certain number of seconds, or on an entire session. a kind of Undo

**Additional context**
Snips Console

#215 Delayed cancellation

[2019-11-12 13:56] pocketjoso commented on #214
Hi.

Before deleting an intent we show a confirmation modal; did you see this modal and confirm the deletion inside? Just wondering as there's another feature that can seem close, the option to `Remove` an intent from an app:
![Capture d’écran 2019-11-12 à 14 54 08](https://user-images.githubusercontent.com/7192832/68677448-6d790800-055c-11ea-8a21-6f475d675f9f.png)
_If_ what you did was _removin

[2019-11-12 14:01] pocketjoso commented on #215
In general I like the undo pattern, but I think we already have confirmation modals in all places where the action is significant and not reversible. So the question then would be if it would be useful to in some, or all, places replacing our 2 step confirmation pattern with undo. I think this is a different question than what you have in mind, so let's resolve your #214 issue first and see what r

[2019-11-12 14:38] sifus commented on #214
Thx for reply.

I'm sorry, i didn't remember that my fork intent was stock on another tab 😅

On the other side, a didn't had a popup when i remove this intent, maybe because it was a fork intent ?

[2019-11-12 14:50] pocketjoso commented on #214
Ah if you had forked the intent, then it was already yours, so that's why it's left on your account. Removing an intent from app does not delete it from your account.

Removing and Deleting are two separate operations. I know this can be confusing, let me explain below.

**Remove**
After removing an intent from an app it still exist on your account, and you can add it back to the app again after.

[2019-11-12 19:51] carsten19 opened #216 "24 hours not recognized for datetime"
I am using 0.64.0 with a German assistant and Snips ASR/NLU.
I have a datetime slot in my intent which I am using to capture a calendar entry. I have noticed that unless I include the German equivalent of "am" or "pm" for the time portion it is always recognized as "pm". So if I state "9 o'clock" (or to be precise "Um 9 Uhr") it is recognized as 21 hour. "Um 9 Uhr morgens" works though.

[2019-11-12 22:15] Deca opened #217 "Skills generating Hermes-python "ValueError: NULL pointer access" error after 0.64.0 update"
After updating Snips to 0.64.0 I get an hermes error for all my previously existing skills

[code]

Checked Hermes version on venv and is  0.8.1, tried also a rollback to 0.7.0, same issue
Action code is a simple python3 default code snippets on Snips console

[2019-11-15 10:15] Pittermaennchen commented on #161
@cpoisson Still no news on Raspberry Pi 4 support? I can't wait to get Snips to work 😬

[2019-11-15 21:08] Pittermaennchen commented on #161
@cpoisson Any news? I am really keen to get Snips to work on my Raspberry Pi 4. Can't wait for the support of Raspbian Buster to happen.

[2019-11-16 14:24] janekbettinger commented on #161
Hi, I have Snips running with Debian Buster on a Raspberry Pi 4 (Model B) and it works flawlessly.

Based on https://forum.snips.ai/t/solved-raspberry-pi-4-buster-how-to-do-it/3647/2 and https://docs.snips.ai/getting-started/quick-start-macos here is what I did:

[code]

[code]

The ReSpeaker 4-Mic Array (http://wiki.seeedstudio.com/ReSpeaker_4_Mic_Array_for_Raspberry_Pi/#getting-started) works fi

[2019-11-16 23:08] Pittermaennchen commented on #161
@kroka Thank you! That sounds great! I tried to do the same.
But I don't understand the sudo bash -c command. I only get:
[code]

[2019-11-17 00:25] nordcomputer commented on #161
seems like you have a file there with wrong permissions.
Try the following:

`sudo rm -r /etc/apt/sources.list.d/snips.list   `
(deletes the file with the repository)

[code]
(recreates it with the right content)

If that doesnt work, you can create the file by yourself (after deleting it):
Open the file in an editor:
`sudo nano /etc/apt/sources.list.d/snips.list`

paste the following content into

[2019-11-17 10:32] flatsiedatsie commented on #161
@Pittermaennchen if you still want to try the Voco route: it as built in support for loading your own assistant. It only supports English though.

[2019-11-18 12:52] ylh888 commented on #161
I'm running Pi4 Buster with ReSpeaker 2 mic. The above executed without any issue (up to "reboot"). But when I run tests from my desktop, the speaker works but not the microphone.

sam setup audio" from my desktop shows:

Status show

[2019-11-20 17:52] RaspiManu commented on #161
@kroka Thank you soooo much for your tutorial on how to install it. It worked like a charm for me. No problems! Im finally running Snips.ai with Raspbian Buster and Matrix Voice Board on my RasPi 3B+.

[2019-11-21 08:38] happenpappen commented on #161
@RaspiManu: I'm on the same setup (Buster on RPI 3B+ and Matrix), but can't get audio to work. Could you please provide your audio configuration (/etc/asound.conf)?

[2019-11-21 10:29] RaspiManu commented on #161
@happenpappen At first, I used the speaker of my screen, because I'm working with a Raspbian Desktop Version. The audio output over HDMI made a lot of problems for me, because I always only heard the last few words of a snips answer. I connected a seperate speaker over audio jack and rightclicked on the audio logo in task bar and set the output to analog. That solved my problem completely. I dont

[2019-11-21 15:52] Xanacas commented on #161
Hi,
I did how kroka explained - thanks for this!
However, after doing so, my respeaker disappeared from being available in Audacity. (where it appeared before).
So I've still not a running system. Either I get respeaker to run or Snips :/

[2019-11-22 13:38] shack31b commented on #161
Waiting for a snips raspbian buster release on RPI3 :(

[2019-11-22 15:03] nordcomputer commented on #161
Did you try the [tutorial](https://github.com/snipsco/snips-issues/issues/161#issuecomment-554642014) from @kroka ?

[2019-11-24 20:16] fondencn commented on #161
@shack31b you should try @kroka 's solution, it worked quite well for me on Raspbian buster.
BTW why waiting for buster on RPI3? I have it on by RPI3+ ...

[2019-11-24 20:22] janekbettinger commented on #161
Hi @Xanacas, I've installed the ReSpeaker _after_ installing Snips. It should not really make a difference, but you never know... ;-)

[2019-11-25 14:17] niclaszll opened #218 "[Android] Snips processing service disconnects, App crashes"
App is working fine on Galaxy S6 (API 24) and emulator (Nexus 5X, API 29), but crashes on Segway Loomo (API 22) when Snips platform is started.

**Log:**
[code]

**snipsProcessingService Log:**
[code]

[2019-11-26 10:21] Xanacas commented on #161
i've experienced two issues during the tutorial of @kroka

[code]
which i could resolve with

`sudo apt update --allow-releaseinfo-change `

however i got another issue:

[code]
which i couldn't resolve. I tried to install libgfortan4, but at least the snips services are not starting:

[code]

any suggestions?

[2019-11-28 10:06] K1LLUM1N471 opened #219 "How to set variables for 'sam connect' and 'sam login' in a bash script?"
Hello,
I want to use
   sam connect ...
and
   sam login
in a bash script?

Sam Reference: https://docs.snips.ai/reference/sam

So, how do I have to pass the parameters (e.g. credentials) for automation?
At this point the documentation seems to be incomplete... and I guess there is a possibility.

Kind regards,
K1LLUM1N471

[2019-12-08 12:09] 517492 commented on #161
End of October has long passed now. Is there a new date when Raspbian Buster support is likely to happen? Will it be within the next weeks or rather within a few months?

[2019-12-08 12:13] Bertware commented on #161
I installed a base + satellite on a RPi 2 and Zero W yesterday, both running Raspbian buster. Not a problem, just follow the steps Kroka wrote in this thread. I wouldn't expect any more updates from the Snips team, as they sold their souls to Sonos: https://forum.snips.ai/t/important-message-regarding-the-snips-console/4145

Sonos wants to "focus on music" (read: remove non-music related functiona

[2019-12-08 12:14] johanneskropf commented on #161
I wouldn’t expect any news on this. Now that Snips has been bought by Sonos and they announced the shutdown of public access to the console end of January it seems highly unlikely that any further development for platforms like Debian are going to happen.

[2019-12-08 21:14] nordcomputer commented on #161
Feels like a slap into the communities face -.-

[2019-12-09 06:32] Nokius commented on #161
@johanneskropf could you share the press release to this. :disappointed: :cry:

[2019-12-09 06:38] johanneskropf commented on #161
Press release:
https://investors.sonos.com/news-and-events/investor-news/latest-news/2019/Sonos-Announces-Acquisition-of-Snips/default.aspx
Console shutdown:
https://forum.snips.ai/t/important-message-regarding-the-snips-console/4145?u=jgkk